[2015-05-02 17:00] delannoyk opened #1 "MPNowPlayingInfoCenter not synchronised"
MPNowPlayingInfoCenter isn't synchronised with elapsed time (upon change of rate or seekToTime).

[2015-05-02 18:42] delannoyk opened #2 "Add reachability as dependancy in .podspec"
When Reachability is available through Cocoapods.

[2015-05-02 18:46] delannoyk opened #3 "Add tests"

[2015-06-01 17:27] delannoyk opened #4 "Player seems to restart playing after connection change even if paused"

[2015-07-15 15:41] jekahy opened #5 "Player starts to play after seeking even if was paused before."
Player also starts to play when the "currentItem.playbackLikelyToKeepUp" event is caught by observer, even if the player was paused before.

[2015-07-15 17:00] delannoyk commented on #5
Hi @jekahy,
I'll look into that and provide a fix as soon as possible.

[2015-07-24 17:44] delannoyk commented on #5
Fixed in 0.2.2

[2015-07-24 17:44] #5 closed

[2015-07-24 18:32] delannoyk commented on #4
Fixed in 011d06031cf4b23859353342a9563a447ecfd299

[2015-07-24 18:32] #4 closed

[2015-07-24 19:39] #1 closed

[2015-07-27 17:11] delannoyk commented on #2
Fixed by 9db72bc166a6cac4d100fe71bad06dd480e594f6

[2015-07-27 17:11] #2 closed

[2015-09-05 02:12] arun057 opened #6 "deinit doesn't remove the kvo observers"
I ended monkey patching the deinit() function with this

[code]

[2015-09-05 08:02] delannoyk commented on #6
You're right! Working on a fix right now.

[2015-09-05 08:13] #6 closed

[2015-09-05 08:16] delannoyk commented on #6
@arun057
Setting these to nil in `deinit`:
[code]
didn't call their didSet while doing it in `stop()` works like a charm.

Fixed in 0.2.6 dd58037d7a7e922a3d79f439ed1bbdb0cd762023

[2015-09-09 16:58] arun057 commented on #6
Will test and report back

[2015-09-09 16:59] arun057 commented on #6
I was calling stop and changing mp3s when this happened, so not sure if this is the definite fix ( either way will test and report back )

[2015-09-09 17:01] delannoyk commented on #6
Hi!
Based on my tests it worked pretty well like this. Please let me know if you face any issues, I'd be glad to help. In the meantime, I'll keep this issues closed and reopen if that doesn't fix your problem.

[2015-09-09 19:34] arun057 commented on #6
tested, looks good :) thank you very much

[2015-09-09 19:35] delannoyk commented on #6
:+1:

[2015-09-14 12:52] sayiwen opened #7 "About play local file"
Can't play the local file

[2015-09-14 12:56] sayiwen opened #8 "Can add a option for caching audio file when playing ?"
I want to cache audio file when playing . Any idea?

[2015-09-14 13:07] delannoyk commented on #7
It's actually already fixed :-)

Do you still experience issues with new version?

[2015-09-14 13:49] delannoyk commented on #8
I agree that would be useful. I'll check how to do it the most efficient way and keep you posted.

[2015-09-15 00:40] sayiwen commented on #7
No, It's ok now.

[2015-09-15 00:40] sayiwen commented on #8
I am wating...

[2015-09-15 05:52] #7 closed

[2015-09-26 03:11] pukku opened #10 "How to use an audio file in an asset catalog?"
Hi! I was wondering if there was some way to use AudioPlayer to play an audio file located in an asset catalog? I'm brand new to iOS programming, so maybe I'm missing something, but it looks like the only way you can get at the items in an asset catalog (`NSDataAsset`) is via the `data` function, which gives you an`NSData` item; AudioPlayer requires an `NSURL`, and there doesn't seem to be a good

[2015-09-26 08:36] delannoyk commented on #10
Hi!
Right now that's not supported so as a workaround, I would suggest storing your file in your app's bundle instead of in an asset catalog.
I don't have a lot of time this week to look into how to support it but that's definitely something I will do.

Can you let me know if the workaround I suggest works for your use-case?

Thanks,
Kevin

[2015-09-26 13:02] pukku commented on #10
Hi! Putting the file in the bundle works just fine, so don't worry about it. I was more wondering if there was something that I was missing.

Thanks,
Ricky

[2015-09-26 13:02] #10 closed

[2015-10-03 23:54] dslysenko opened #12 "Offline playback of ipod-library:// items fails when it doesn't need to"
Offline playback of an item from the device's media library is very much possible using KDEAudioPlayer without further modifications, but is unfortunately blocked because of slightly overzealous logic for rejecting offline playback. Just like file URLs, ipod-library URLs can be played back offline.

See https://gitlab.com/riff/AudioPlayer/commit/2213d7801b66d6d001e776ba3a3eb040a65eace3 for a fix t

[2015-10-04 06:24] delannoyk commented on #12
You're right, I didn't think about that case.

Thanks, I'll look into it ASAP.

[2015-11-03 21:53] frogcjn opened #13 "Suggestion: queue items should be public read"
I think it is not easy to track audioItem index outside of the AudioPlayer

because you have public function to use the index for removing audioItem, so it is necessary to know the index of the audioItem.

        removeItemAtIndex(index: Int)

so I think the queuedItems should be at least public read from outside.
And it is good for developer to show users what items are in the queue.

Thanks!

[2015-11-04 00:23] frogcjn commented on #13
And after test, I think there is an issue with background session that it is cannot control music over music control panel, and cannot play next though the system control. Is it better to use AVQueuePlayer?

[2015-11-04 08:04] delannoyk commented on #13
Hi,
We're talking about 2 different issues here.

So
1/ I agree, I'll expose this later today.
2/ I'm not able to reproduce this. Could you explain a bit more? Anyway, I didn't use AVQueuePlayer to have more control on the queue and on items (such as auto quality adjustment, shuffle/repeat mode, ...).

[2015-11-04 12:46] frogcjn commented on #13
audioPlayer.addItemToQueue(audioItem)

I just use this API, and after that, I cannot control music through the music center system control, and it is not entering background mode. (I have played music in iTunes before, so the music center showed the item queue of Apple's Music app)

the background mode begins after I call this method:

    audioPlayer.next()

though I called this API, the backgrou

[2015-11-04 14:41] delannoyk commented on #13
I'll check it out later today and I'll let you know :)

[2015-11-05 18:07] #12 closed

[2015-11-05 18:07] delannoyk commented on #12
Let me know if that works out for you :)

[2015-11-05 18:17] delannoyk commented on #13
There's now a public property to get the current queue.

Looking into your issue right now.

[2015-11-05 18:23] frogcjn commented on #13
Thanks!

[2015-11-05 18:55] delannoyk commented on #13
I still cannot reproduce.

Anyway, let's check a basic requirement. Did you add
[code]
in your app's Info.plist?

[2015-11-05 20:20] frogcjn commented on #13
I think I just need MPNowPlayingInfoCenter 

[2015-11-06 12:25] delannoyk commented on #13
Nah!

Did you do this: https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIApplication_Class/#//apple_ref/occ/instm/UIApplication/beginReceivingRemoteControlEvents
?

[2015-11-12 20:16] delannoyk commented on #8
Quick update: I've been working on it and it'll be available soon! 🙂

[2015-12-02 10:05] funkenstrahlen opened #14 "Synchronize UI with player state"
I plan to integrate your player into my app. I am currently working on an app that does play podcast show livestreams.

I need to sync my UI with the player state. For example if the stream ends and no data is being received any more I need to update my UI. (there are of course a lot more cases to cover).

What's the best way being informed as a ViewController about the player state?

[2015-12-02 10:45] delannoyk commented on #14
You can use the `delegate` property on your AudioPlayer instance and implement this function:
`func audioPlayer(audioPlayer: AudioPlayer, didChangeStateFrom from: AudioPlayerState, toState to: AudioPlayerState)`

[2015-12-02 10:46] delannoyk commented on #13
@frogcjn did it help? Are you still stuck with this issue?

[2015-12-02 12:05] funkenstrahlen commented on #14
Thanks a lot for your quick response! The delegate is great!

However I do not know how to check for one case:

If I try to stream an AudioItem with an URL that does not stream any content the player stays in the state `buffering`. Shouldn't it move to `stopped`?

What happens if a stream ends? Will the player move to `buffering` and try to get more content? When will it "realize" there will be no

[2015-12-02 13:46] funkenstrahlen opened #15 "private func updateNowPlayingInfoCenter() should be public"
I have the following scenario:

I want to start playing a web audio livestream. Therefore I define the AudioItem and call the player to play it.

I also want to set an artwork image for the lockscreen. However this is an async network request. So currently if I want to set the artwork image and play the AudioItem I have to wait until the artwork request completed to start the player.

I would like

[2015-12-02 13:50] delannoyk commented on #15
You don't need to call `updateNowPlayingInfoCenter()` because properties of the currentItem are observed within the player to change whenever you change it's property.
Doesn't it work? I haven't noticed bugs with that on my app.

[2015-12-02 13:54] funkenstrahlen opened #16 "Inconsistent buffering state"
When I call the player to play an item for the first time after initialization it does not go into buffering state. It directly moves into `playing` state.

[code]

It does not change its state until the item is actually playing. No buffering state before.

When the player has been in `playing` state for one time and I set a new item to play it always does *buffering* -> *playing* or simply stays

[2015-12-02 13:56] funkenstrahlen commented on #15
Oh that's even better! However currently it does not work yet but I think this another issue, because the MPRemoteCommand Center is not configured at all currently for me. No play/pause or title working.

[2015-12-02 13:56] #15 closed

[2015-12-02 13:59] funkenstrahlen commented on #15
@delannoyk By the way: Really nice code! I am very happy and thankful you wrote that code. Makes my life a lot easier :heart:

[2015-12-02 14:00] funkenstrahlen commented on #14
Maybe there should also be an .Error or .Failed state?

[2015-12-02 14:01] delannoyk commented on #15
Thanks man!
I'll look into your other issues later today and probably fix them in the evening if possible.

[2015-12-02 14:11] funkenstrahlen commented on #16
I just realised what is the problem. When I start the player for the first time `func audioPlayer(audioPlayer: AudioPlayer, didChangeStateFrom from: AudioPlayerState, toState to: AudioPlayerState)` is called with the info **buffering** -> **playing**.

So **buffering** is the init state of the player? I exptected `didChangeStateFrom` also to be called when I play a new item and the player starts b

[2015-12-02 15:17] funkenstrahlen opened #17 "Configure buffer size?"
Is there a way to configure the buffer size?

There seems to be a way to do that with AVPlayer: http://stackoverflow.com/questions/21400591/buffer-size-for-avplayer-avplayeritem

[2015-12-02 18:35] delannoyk commented on #14
Yep, I do agree. I made it in [develop](https://github.com/delannoyk/AudioPlayer/tree/develop). Tell me what you think! :smile:

[2015-12-02 18:43] delannoyk commented on #16
Yup, that wasn't intended and I agree the initial state should be `.Stopped`!
Also solved in [develop](https://github.com/delannoyk/AudioPlayer/tree/develop)

[2015-12-02 18:45] delannoyk commented on #17
There's no way right now with AudioPlayer. I'll look into that!

[2015-12-02 19:33] funkenstrahlen commented on #14
The new .Failed state works great! Exactly as expected!

I am not quite sure what's happening now at the end of a livestream. Will it be .Failed or .Stopped? But that's a minor thing.

Thanks a lot for fixing so fast!

[2015-12-02 20:25] funkenstrahlen commented on #17
That's not very urgent. Just a thought for bad network connections.

[2015-12-03 07:35] funkenstrahlen commented on #16
I commented on your commit, because I think there is still a problem.

[2015-12-03 07:41] delannoyk commented on #16
Yeah I saw that, sorry about that, was a long day yesterday. Fixing it now.

[2015-12-03 07:46] funkenstrahlen commented on #16
No hurry :)

I just was not sure if Github sends notifications for commit comments too.

[2015-12-03 08:08] #16 closed

[2015-12-03 09:34] #13 closed

[2015-12-03 14:34] funkenstrahlen opened #18 "How to handle Remote Control events?"
I found

[code]

in you code. However this function is not get called by default. What do I have to do to manage that?

Why do you not use MPRemoteCommandCenter

https://developer.apple.com/library/prerelease/ios/documentation/MediaPlayer/Reference/MPRemoteCommandCenter_Ref/index.html#//apple_ref/occ/instp/MPRemoteCommandCenter/pauseCommand

[2015-12-03 14:42] delannoyk commented on #18
[code]

[2015-12-03 14:42] delannoyk commented on #18
I'll look into it later today.

[2015-12-03 14:57] funkenstrahlen commented on #18
Thanks a lot! Maybe it makes sense to put that into the Readme too.

With MPRemoteCommandCenter you could register for the remote commands directly in your player code and the player users would not be required to put this code into their AppDelegate.

However it might be even better to leave it as it is now, because I now can decide if I want to use your handler or write my own.

Thanks for helpi

[2015-12-03 14:57] #18 closed

[2015-12-03 15:00] delannoyk commented on #18
That was intended even though I didn't know about `MPRemoteCommandCenter`.

Yup, 't was in my TODO list :+1:

[2015-12-03 17:32] frogcjn commented on #13
Thanks! I solved the problem.

[2015-12-06 09:36] funkenstrahlen opened #21 "resume() does not work if playback was paused for some time in lockscreen"
I have discovered the following problem:
- call player.playItem() wait until it is playing

[code]
- lock phone
- pause stream `Playing -> Paused`
- wait some time
- try to play again

[code]

It will stay in buffering, but does not play audio.

I think this is a problem with `AVPlayer`, because `resume()` looks like this:

[code]

`player.play()` is not enough to recover the stream because I thin

[2015-12-06 20:10] funkenstrahlen commented on #21
I have to update the description above. I see a similar problem when playback is paused because another app starts playing audio.

When I then come back to my app after some time and player.resume() is called it does not play any more.

[2015-12-06 23:28] Ravichandrane opened #22 "How to use AudioPlayerDelegate"
Hi There !

I wondering how to use "AudioPlayerDelegate", I don't really understand how to use it do you have any exemple please :)

I also want to know how to update the UISlider and get the AudioPlayer status if is playing or not.

Thanks.

[2015-12-07 09:02] delannoyk commented on #22
I updated the README with a bit more explanations. Could you check it out and let me know what are your questions ?

[2015-12-07 09:12] delannoyk commented on #14
It should be `.Stopped` since AVPlayer will post an `AVPlayerItemDidPlayToEndTimeNotification`.

[2015-12-07 09:12] #14 closed

[2015-12-07 10:35] Ravichandrane commented on #22
Hey thanks for your answer :)

When I try to print the duration or the percentageRead nothing append...
Can you show me with a exemple how to use the delegate please :)

[code]

[2015-12-08 18:14] delannoyk commented on #21
Mh. I'll see when I'm done implementing #8 if it's still an issue since I'll handle the connection and not AVPlayer.

Is this a major issue for you to use AudioPlayer - I guess it's but how urgent is this? I still have some issue with #8 implementation and it's not ready right now.

[2015-12-08 18:39] delannoyk commented on #22
Hi @Ravichandrane
Did you try setting breakpoints in any of the methods? Because duration should be called...
Regarding that, how are you using AudioPlayer?

[2015-12-08 18:40] delannoyk commented on #17
What would you use that for? Basically, it's just delaying the player from playing content. I don't see how that would really help bad connection but maybe I misunderstood your goal.

[2015-12-08 20:03] funkenstrahlen commented on #21
I do not know enough about your code to know why this is happening and what's the best approach to address the issue.

It is not very urgent though.

What are you changing because of #8 that might fix that?

[2015-12-08 20:05] funkenstrahlen commented on #17
I use AudioPlayer to play radio livestreams. So having a huge enough buffer in bad connection situations is important.

I know AVPlayer does not allow setting the buffer size explicitly. Therefore the only way is to delay the player because AVPlayer continues fetching the audio in the background, so the result is some cache time.

[2015-12-08 20:18] funkenstrahlen commented on #8
Won't this change the foundation of the player a lot as this is not supported by the AVPlayer class of Apple? This might add a lot of complexity...

[2015-12-09 13:00] Ravichandrane commented on #22
Hi @delannoyk,

I want the music continue to play when I dismiss the player view so I create a singleton and call AudioPlayer inside the singleton after that I use the singleton in my player view controller.

[code]
[code]

[2015-12-09 14:31] delannoyk commented on #22
Seems to me like you forgot `player.delegate = self`

[2015-12-09 22:30] Ravichandrane commented on #22
Ah... I forgot to specify the delegate my bad... Thanks @delannoyk :D :+1:

[2015-12-09 22:30] #22 closed

[2015-12-17 21:08] delannoyk commented on #8
I've got a working tree in [feature/caching](https://github.com/delannoyk/AudioPlayer/tree/feature/caching). I'll do more test tomorrow with it.
Let me know what you guys think!

[2015-12-18 12:29] delannoyk commented on #8
It currently has some bugs with queues when loading next song while current one hasn't finish loading (no error sent to delegate, ...). Working on that tonight.

[2015-12-18 13:10] sayiwen commented on #8
Hi guy , this [article!](http://leshkoapps.com/wordpress/audio-streaming-and-caching-in-ios-using-avassetresourceloader-and-avplayer/) may be help you . But I can't understood it  .

[2015-12-18 13:11] delannoyk commented on #8
Yep, but it's already implemented :) still have some bugs to work on but core feature is available.

[2015-12-25 03:08] jkdntc opened #23 "How to change play rate?"
AudioPlayer.rate  is not work

[2015-12-25 15:39] PhilippeBridant opened #24 "Playback resumes even if explicitely paused once network is reachable"
Hello

Thanks for your great player.

I've found a bug that resumes the playback when network is back reachable even if I paused it before that.

[code]

This code snippet extracted from AudioPlayer.swift is called when the player has enough data to start the playback again. However, this does not mean that playback has to be restarted.

If I pause my player, then put my app background, go to wifi

[2015-12-25 15:39] PhilippeBridant commented on #24
Note that I did not succeed to produce this bug with the simulator.

[2015-12-27 13:19] delannoyk commented on #24
Hi Philippe,

Thanks for the precision of the issue. I'm looking into it right now.

[2015-12-27 13:36] delannoyk commented on #24
Couldn't reproduce it on my device but I've pushed a fix to `develop`. Can I ask you to take a look at it?

[2015-12-27 14:24] delannoyk commented on #23
Yup, you're right. Fixed now (0.4.1).

[2015-12-27 14:24] #23 closed

[2015-12-27 16:56] PhilippeBridant commented on #24
Thanks. I'll test it right now.

Maybe you should look at my (dirty) commit on my fork: https://github.com/Findspire/AudioPlayer/commit/943b2f38842e359c1dc7c63f6fe51e2807dd6e85

The problem also exists on currentProgressionUpdated event that does a play() because 'state' was set to .Buffering before it was saved on 'stateWhenConnectionLost'.

[2015-12-28 08:13] PhilippeBridant commented on #24
I confirm that the issue is solved. Except maybe the 'stateWhenConnectionLost' thing.

[2016-01-01 09:28] #24 closed

[2016-01-11 12:49] ahpiau18 opened #27 "It does not trigger the StateChanged"
i try the following code, and it doesn't print the State, did i missed anything?

var player = AudioPlayer()
let item = AudioItem(highQualitySoundURL: playerURL)
player.playItem(item!)

//not working or i missed something
func audioPlayer(audioPlayer: AudioPlayer, didChangeStateFrom: AudioPlayerState, toState: AudioPlayerState) {
        if (toState == AudioPlayerState.Buffering) {
            pri

[2016-01-11 12:51] delannoyk commented on #27
Hi,
Probably yes.

1/ I don't see setting the delegate property of your audioPlayer. Do you?
2/ Be sure to *keep a reference* to your audioPlayer because if you just allocate it and play an item without keeping the reference, it will get deallocated right away.

[2016-01-11 12:51] delannoyk commented on #27
Let me know :)

[2016-01-12 08:43] ahpiau18 commented on #27
hey @delannoyk

after added the delagete property, it works like charm.
:)
Thanks

[2016-01-12 08:43] #27 closed

[2016-01-12 14:07] Ravichandrane opened #28 "Next or Previous action freeze"
Hi There !

I noticed a bug, only on iPhone not on the simulateur, when I press next or previous action the music freeze 2ms and play the next track. It's normal ?

Thanks.

[2016-01-12 14:11] delannoyk commented on #28
Hi!
Hard to tell. First, what do you mean by "freeze"?
If you change the current item by doing `next()` or `previous()` (or more generally change the current item), the player will buffer data first.

[2016-01-12 14:30] Ravichandrane commented on #28
Hi Thanks for your reply.

Meaning when I press next() or previous() the current track freeze 2ms like old mp3 cassette, I think it's happen during the buffering. It's possible to load the next track in background when the current track is playing ?

[2016-01-12 14:36] delannoyk commented on #28
Yes it's probably buffering then.
I'm not planning to offer this kind of feature since probably a lot of people wouldn't need it - and it seems like a lot of work.

[2016-01-12 14:38] Ravichandrane commented on #28
Okay I'm gonna work on my side and push in a new branch :)

Thanks again,
Have a nice day.

[2016-01-12 14:38] #28 closed

[2016-01-12 14:39] delannoyk commented on #28
I'm curious how you plan to do it. Could you let me know if/when you finish it so I can have a look?
Have a nice day too!

[2016-01-12 14:42] Ravichandrane commented on #28
Yeah sure, I fork your project so when I finish this feature I will create a new feature branch and push on it :)

[2016-01-26 12:50] delannoyk opened #31 "Support for NSDataAsset"
See #10

[2016-01-29 15:59] danielmartinprieto opened #32 "tvOS - AudioPlayer's state doesn't change after loosing connection."
This issue has been observed in a tvOS app, I don't know if it is the case in iOS too.

While playing an audio item you disable the WiFi to test a reconnect scenario, the player's state doesn't change (is still **Playing**). Therefore, when Reachabilty detects that there is Internet connection again and performs the retrying, the method returns at the beginning, assuming that the audio is still be

[2016-01-31 14:20] delannoyk commented on #32
Hi Daniel,

That's weird because if the player' state if still `.Playing` when reachability changes to a connected mode, the handler should not do anything:

[code]

So player' state is still `.Playing` but is it still playing audio? (Emptying the buffer)

[2016-02-01 08:55] danielmartinprieto commented on #32
Sorry, I explained myself very poorly.

When the connection is lost, eventually the underlaying player stops playing (I'm using an online stream), but somehow the AudioPlayer class doesn't get notified about this, so its state doesn't change either (and therefore is still `.Playing`. Reachability does its work and, when connected back, the `retryOrPlayNext()` method is properly called, but it ends

[2016-02-02 17:51] delannoyk commented on #32
Found the cause. Working on a fix right now :) Should be available in `develop` branch tonight.

[2016-02-02 18:08] delannoyk commented on #32
Should be fixed if you use develop. Can you confirm you no longer have the issue? If so, I'll move it to master :)

[2016-02-02 18:26] danielmartinprieto commented on #32
That's great! I will test it tonight and give you feedback. Thanks again for putting this together.

[2016-02-02 22:05] danielmartinprieto commented on #32
@delannoyk hey, have you push your changes? I can't see them in develop.

[2016-02-03 08:52] delannoyk commented on #32
Indeed my bad, sorry about that. Anyway, it's pushed now :P

[2016-02-03 20:10] danielmartinprieto commented on #32
@delannoyk sorry, unfortunately this didn't solve the issue. When the connection is lost, the AudioPlayer's state doesn't change (AudioPlayer thinks that it is still playing audio), so the scenario is the same.

Ideally, once the connection is lost, the AudioPlayer's state should pass to a `.WaitingForConnection`. I think after that it will recover from that state properly.

[2016-02-04 12:20] delannoyk commented on #32
Oh ok, worked fine on iOS, I'll have a deeper look on tvOS.

Anyway, I don't think going to `.WaitingForConnection` as soon as the connection is lost is a good idea since you might still be playing (buffered audio).

I'll have more time tomorrow to check it out. Thanks for letting me know!

[2016-02-04 12:29] danielmartinprieto commented on #32
Yeah, I agree. Maybe if AVPlayer tells us when exactly the buffer is empty, that way we can change the state of the player and be consistent. I work with a live stream, and therefore the sound is stopped very soon after the device has lost Internet connection. I wait for the AudioPlayer's delegate to notify to the change in its state but that never happens, I think that's the main issue so far.

T

[2016-02-04 12:43] funkenstrahlen commented on #32
Maybe this is somehow linked to #21?

[2016-02-07 09:33] Jauzee opened #33 "Notification center progress bar doesn't stop"
Thank you for the lot of work you did. Player is nice. But I have one issue:

Audio player continues to update notification center progress bar even if pause() is called.

[2016-02-07 10:54] delannoyk commented on #33
You're right.
Fixed it in `develop`, will release it later.

[2016-02-07 10:54] #33 closed

[2016-02-08 22:27] Jauzee commented on #33
I've checked with those changes, but they doesn't fix the issue. )

[2016-02-09 08:54] delannoyk commented on #33
Whoopsie, you're right, last commit wasn't pushed.

[2016-02-17 19:33] han9over opened #35 "Audio ID3 information not being pulled"
I'm not sure if this is issue with the file I have, but I tried to host a MP3 file remotely with all the ID3 information on it. I'm also not sure if I need to do something for the player to pull that information, but I don't see that being pulled and the observer getting fired.

Can you please direct me in right path?

Thanks in advance.

[2016-02-17 19:44] delannoyk commented on #35
It's not possible right now but it sounds like a great addition! I'll look into that!

[2016-02-17 19:46] han9over commented on #35
@delannoyk Great. Thank you. I'm wondering how are the title, artist, album etc populated in AudioItem. I also saw a KVO and addition of observer for those. Sorry, I'm a bit new to swift, tried to figure out myself but was unable to.

[2016-02-17 19:49] delannoyk commented on #35
On the current version, you have to populate it yourself. And KVO on those trigger changes for MPNowPlayingInfoCenter.

[2016-02-17 19:52] han9over commented on #35
@delannoyk Understood. Thank you. Temporarily, I can pull that information using AVMetadata for testing purposes.

[2016-02-20 15:28] delannoyk commented on #35
Hi @han9over

I added this feature on `develop` branch.
The `AudioItem` will take care of the metadata parsing. Also if you want to customise it, you can subclass `AudioItem`.

Let me know if you have any comment/suggestion.

[2016-02-20 15:29] han9over commented on #35
Thanks a lot. I will try it out.

[2016-02-20 15:39] delannoyk commented on #35
Actually, I'll leave this open cause I'd like to have some sort of callback when it's set, and I'm not sure if live streams can have metadata. Still have to look up for that.

[2016-02-20 15:46] funkenstrahlen commented on #35
Have not tested this, but how does this work together with manually setting metadata to `AudioItem`? Which one has priority? Or do I have to enable automatic metadata fetching?

[2016-02-20 15:48] delannoyk commented on #35
It'll set properties only if their nil (and found in metadata).

[2016-02-20 15:49] funkenstrahlen commented on #35
That sounds like a good solution!

[2016-02-20 15:52] delannoyk commented on #35
Seems like neither of SHOUTcast and Icecast give ID3 data. [Source](http://stackoverflow.com/a/6049953/1018794).

[2016-02-20 16:25] delannoyk commented on #35
Ok, I tested it with an Icecast stream and it doesn't seem to contain any metadata. Anyway, if by any chance it would for another server, parsing would still get called.
Closing this and I'll be merging into `master` a bit later today.

[2016-02-20 16:25] #35 closed

[2016-02-20 16:27] han9over commented on #35
Awesome. You rock @delannoyk

[2016-02-21 14:34] delannoyk commented on #32
Hi guys,
I pushed something to develop that I was able to reproduce constantly on a Icecast live stream. Hopefully it should be the fix for this issue :)
Although I don't think this relates to #21, I'm still investigating that one.
Let me know if this helps you guys.

[2016-02-21 14:34] delannoyk commented on #32
Sorry, I meant on master since this is a real bug fix.

[2016-02-22 23:03] smkhalsa opened #36 "Preload next song in queue"
It would be great if the next song in the queue was automatically buffered for gapless playback between tracks.

[2016-02-25 12:26] danielmartinprieto commented on #32
Hi, @delannoyk. I've tested this and it seems to work properly now, congrats!
And thanks! :100:

[2016-02-25 12:26] delannoyk commented on #32
Great! I'll close this one then :)

[2016-02-25 12:26] #32 closed

[2016-03-01 23:04] han9over opened #37 "Sometimes playback is automatically paused"
Playback is getting paused automatically without any interruptions or any actions. The network connectivity is good and the playback has to be manually resumed by hitting play again.

Observed this happening with recent updates.

[2016-03-10 15:13] cihadturhan opened #38 "Song duration is retrieved wrong"
I'm streaming music from my app. When I look what duration is retrieved after `didFindDuration` function, I see it's way longer than the music has. For example, I'm streaming a music having 3.5 minutes length. Audioplayer `audioPlayer.currentItemDuration` value returns me around 7 minutes.

What could be the problem? I can provide some links so you can try it out, but the links has lifetime around

[2016-03-10 17:56] delannoyk commented on #38
Hi @cihadturhan
This is weird. The duration comes directly from Apple's AVPlayer. The AudioPlayer just converts is into a NSTimeInterval.
Do you have some time now for me to test it out? If so, I guess Github's issue won't be a good way to communicate :) Twitter's DM maybe?

[2016-03-10 17:59] delannoyk commented on #37
Hi there,
I haven't experienced this bug although I'm not yet using latest release in production. Does this happen randomly or is there a way to reproduce? Do you play livetreams?
If you have more information you care to share, let me know :)

[2016-03-10 18:05] delannoyk commented on #3
This is in progress on `feature/event_producers` and will be coming with some refactoring.

[2016-03-10 18:12] han9over commented on #37
Thanks for your response. I tried to reproduce this, but was unable to. I'm using remote MP3 Urls for playing this.

I know that using below method is not correct, but I'm trying to test the issue. So, I used a youtube audio url and it just throws error saying The operation cannot be completed. But, the same thing works fine when I instantiate AVPlayer..

[2016-03-10 18:33] delannoyk commented on #37
This is interesting although unrelated to this issue. Would you mind creating a separated one? I want to look into it :)

[2016-03-10 18:36] han9over commented on #37
Will do. I will try to use a youtube URL and replicate the issue and document those. Thanks.

[2016-03-10 18:48] delannoyk commented on #37
What kind of Youtube's URL do you use? I just tried to get an URL to a YouTube's mp4 (containing video) and it worked out of the box.

[2016-03-10 18:51] han9over commented on #37
i'm using a mp4 audio link. I don't have access from work, but the process I did for testing is,

I took a youtube song url, then went to www.clipconverter.cc and then used firebug or http packet tool for sniffing network traffic.

then when you enter youtube url in that site and hit enter or something it sends request to grab youtube urls. You can see the JSON response and it will have urls in it

[2016-03-10 18:53] han9over commented on #37
if you want to test that url, you can paste that url in safari and it will play automatically if the song link is correct. Safari kicks off AVPlayer and if that can be played in safari, it should work in this library too.. technically :)

[2016-03-10 19:20] delannoyk commented on #37
That is what I did and it worked

[2016-03-10 19:24] delannoyk commented on #37
Also, it worked with the video URL.

[2016-03-10 19:25] han9over commented on #37
that's weird.. let me try tonight and i will get back to you with the video that it didn't work. May be its only related to the videos i'm using :)

[2016-03-11 01:00] han9over commented on #37
Here is a song I tried.. Just a random pick :)

https://www.youtube.com/watch?v=8B29SZvMi3E

Here is the audio URL that i received. This might expire by the time you check.

https://r8---sn-4g57knkl.googlevideo.com/videoplayback?id=o-AIvdELTMN9fvcZsV8e-a7CSDfl_piJZ_izysVXrkqIdF&pl=23&signature=6DE6D58CE64B3E93A67F6A9D5AADAE90B6B45815.4AB0EBA7EB63936A9685391FC27C2C8E157499C4&ipbits=0&key=cms1&ip=37

[2016-03-11 04:14] han9over commented on #37
I did lot of research and found something messed up with my current setup. I created new Xcode project and tried above urls and they worked fine. I reimported my code and processes to this version and so far it seems good. Something might have messed up with other setup. I will do more testing and report if there are any issues.

I think you can close this for now :) thanks for your help and sorry

[2016-03-11 08:08] delannoyk commented on #37
Let me know if I can help.
I'm going to close this issue for now, since I haven't been able to reproduce at all. If you could come back in this thread if you have more information/it happens again, I would be grateful!
Thanks.

[2016-03-11 08:08] #37 closed

[2016-03-18 10:25] han9over commented on #36
I agree with @delannoyk . It would have been easier if we used AVAudioItem instead of custom AudioItem. I will try it out and see if we can make an easy change. I won't consider performance in my solution though :)

[2016-03-19 23:30] han9over commented on #36
@smkhalsa and @delannoyk .. What do you guys think of below implementation? I done these changes in my project files only

Add below line in AudioItem.swift

`public dynamic var data: AVPlayerItem?`

In AudioPlayer.swift, replace below line with

`player = AVPlayer(URL: URLInfo.URL)`

with

[code]

Then add below function to the same file.. add anywhere inside player class. Haven't done rigorous t

[2016-03-19 23:35] han9over commented on #36
To be short the logic is, when you start playing an item, if there is another item in queue, then I will initialize the asset and store that along with AudioItem. When that item plays and if asset data exists for then, then I will use that instead of URL. For testing I have added high quality urls only so that's why you will see that in AVURLAsset creation.

[2016-03-22 18:38] delannoyk commented on #36
Hi @han9over

Thank you for the leads in this! Did you get a chance to test it?
I haven't checked yet but is there an opportunity to cancel a preloading-request? I'm wondering how the queue would be handled in case it changed suddenly.

In anyway, I'm currently working on some refactoring so I'll get a closer look a bit later.

[2016-03-22 18:45] han9over commented on #36
Hey @delannoyk

I have tested it with my setup and it works well. Currently, i haven't looked into canceling preloading. I'm not preloading the whole queue, it just preloads the next song only. So, if the next song is removed, the preloaded data gets removed along with it.

I know there is lot of work to be done on this, my initiative was to provide some thoughts or ideas :)

[2016-03-22 18:46] han9over commented on #36
by the way, not sure which city you are in, hope you are not near by or affected by those attacks? Be safe and take care.

[2016-03-22 18:49] delannoyk commented on #36
Ok, I'll look take a closer look in the next few days then. Thanks for you leads.

Yep those events suck. I live about an hour drive away from Brussels so I'm safe, thanks!

[2016-03-22 18:50] han9over commented on #36
good to hear.. thanks :)

[2016-03-24 00:49] han9over opened #40 "Issue with sorting"
@delannoyk

I think there is an issue with the way songs are sorted. I think you will be able to replicate this if you follow below steps.

1. Add around 2-3 songs separately by calling addItemToQueue
2. Use tableview to show your list of songs. When a song is clicked on tableview, use below code to play that song

[code]

3. Now, add another couple songs to the queue using same addItemToQueue fun

[2016-03-26 19:31] delannoyk commented on #40
Hi @han9over
Yep I see the issue. If I understand correctly, new items are being added to the queue with `position` equals to 0, so multiple items are positioned at index 0.
New coming version will not suffer from this issue. Anyway, it doesn't have an ETA yet and will break Swift 2.0 compatibility, so I'll try to work on a quick fix ASAP for this.

[2016-03-26 19:33] han9over commented on #40
Thanks. That's totally fine. I already have workaround in my project for this. So I'm good. Just wanted to report it out to you. :)

[2016-03-26 19:33] han9over commented on #40
My work around is to remove sorting as I don't see a need for it as I don't need shuffle.

[2016-04-02 08:27] funkenstrahlen commented on #21
Any news on this?

[2016-04-03 08:57] delannoyk commented on #21
Hi @funkenstrahlen
Just so you know, this is my next priority right after releasing what's on `feature/event_producers` which should come soon.

[2016-04-12 11:11] MattesGroeger opened #42 "AudioPlayer is skipping through playlist on error response"
I'm currently investigating the issue that the player is skipping through the playlist when it reaches the maximum retries per item (because of a backend error). I'd like to have it just stopping/pausing at the current item with the error state and have the user deciding to try the next item in the queue.

I could patch it myself but I'm wondering what the best approach would be. Maybe I'm also mi

[2016-04-12 14:16] MattesGroeger opened #43 "After re-establishing the connection (after being offline) item is played from beginning and not resuming at current position"
From my debugging it seems like it should theoretically work as you `seekToTime()` in the `retryOrPlayNext()` method. But in the `seekToTime` method it doesn't get any `seekableTimeRanges` back from the `AVPlayerItem` so it starts from the beginning. Any idea why this could be the case?

[2016-04-12 18:14] delannoyk commented on #42
Yup, I see your point and I totally agree that the player should not decide how to behave on error.
I didn't think of that when developing that feature.

Anyway, 4e1d49d3ad4835560dc2b53488d2a40c54e9d971 fixed this and I'm going to tag this release as 0.8.0 as it's a change that affects everyone, even if it's for the best.

[2016-04-12 18:14] #42 closed

[2016-04-12 18:15] delannoyk commented on #42
Just so you know, you should tell how the player to behave when the delegate to alert status changed is called with `toState` being `.Failed`.

[2016-04-12 18:32] delannoyk commented on #43
Yes, this is because the player is new and is re-buffering data in order to play, so the `currentProgression` is immediately set and is certainly not in the `seekableTimeRanges` yet.
Anyway, calling `player.seekToTime(...)` should fix this. I'm letting this open for you to confirm and eventually close if everything works out.

Thanks for reporting the issue.

[2016-04-12 18:51] delannoyk commented on #40
Fixed in 0.8.2 :)

[2016-04-12 18:51] #40 closed

[2016-04-13 09:07] MattesGroeger commented on #42
Nice. I like your solution. Will give it a try later. Thanks a lot, much appreciated!

[2016-04-13 15:11] MattesGroeger commented on #42
I just tried it but it still skips to the next one.

I don't do anything in the `didChangeStateFrom` delegate on `.MaximumRetryCountHit` as I just want it to stay in this state.

When I put in an `audioPlayer.pause()` it continues to call `.MaximumRetryCountHit` for the same item. Also the app get's stalled during the retry but that's probably a different issue.

Any idea?

[2016-04-13 15:22] MattesGroeger commented on #43
Ok I guess you fixed it with 5b18414263fc4615274a068a5b5e77933e77b0f2

During my test it worked, at least most of the times. Great!

[2016-04-13 15:22] #43 closed

[2016-04-13 16:27] MattesGroeger opened #44 "Playback magically resumes when being paused from lockscreen and screen goes off"
Ok, this one is not very obvious :)

Steps to reproduce:
1. Play an item queue
2. Go to the lockscreen and pause the playback
3. Wait for the screen to turn off, the playback will now continue (Paused -> Buffering -> Playing)

Results from my investigation:

The playback is triggered because the KVO on `currentItem.playbackBufferEmpty` is triggered. It then sets [the state to buffering](https://gi

[2016-04-13 18:39] delannoyk commented on #42
That's pretty weird but maybe I don't understand your issue.

I tried setting a wrong URL to 5 items that I queued up (title are "0", "2", "3", "4" & "4"):
[code]
That's it, the player waits.

[2016-04-14 17:56] delannoyk commented on #44
Hi @MattesGroeger,
Thanks again for reporting this issue, I appreciate it very much.
Anyhow, I cannot seem to reproduce the issue. What I tried based on your scenario:

    1. Play an item
    2. Wait for it to start playing (but not fully buffered)
    3. Go to lock screen immediately
    4. Pause
    5. Wait for it to resume playing

I waited like ~5mins but still, the player was Paused. Here ar

[2016-04-16 11:01] MattesGroeger commented on #44
Yes I did exactly that, multiple times and it always resumed. I tested on an iPhone 4S with iOS 8.x, though. Maybe that makes the difference? It might also be other changes that cause this or the way we use it in our app. I can try on Monday with your latest stable version again. Thanks for trying to reproduce this.

[2016-04-16 11:07] MattesGroeger commented on #42
Maybe the difference here is that I break it during playback. I have items queued up and playing and during playback I enable geoblocking which leads to a bad-gateway response.

[2016-04-16 15:51] delannoyk commented on #21
Hi @funkenstrahlen
I'm working on this now :)
Do you remember what "some time" means in this context - like 1min/10mins/1hour?

[2016-04-16 15:53] delannoyk commented on #21
Don't bother answering, it stops buffering almost instantaneously.

[2016-04-16 16:32] delannoyk commented on #21
From what I see on Charles Proxy, the problem is that AVPlayer cuts the connection to the live stream after some seconds when in background --> There is no background task living there because the player doesn't emit any sound anymore so the `UIBackgroundMode` `audio` doesn't apply.

Although I'd like to have the exact same behaviour as when not in background, it won't be possible for long pauses,

[2016-04-17 07:57] funkenstrahlen commented on #21
You solution sounds quite good, but I have some questions to be sure I understand correctly what you want to do:

It is perfectly ok for the player to be killed after some time when paused in background. That's what iOS does. Currently this time seems to be very short as you also discovered. Also the player controls are still visible in the lockscreen, so I assume the app is not yet killed after 1

[2016-04-17 08:11] funkenstrahlen commented on #21
just a thought as you work with many `NSTimers`: Is there any timer recovery required when the app comes back from being killed in background?

[2016-04-17 10:57] jjhlzn opened #46 "play progress event is delayed util buffer is done"
when network is net so good, loading audio is not so fast. And, I found play progress event is delayed util buffer is done.
I add some log code to AudioPlayerDelegate, the following is log:

[2016-04-17 11:20] delannoyk commented on #21
I only work with 1 timer, max 2: one for adjusting quality if necessary, another one when retrying.

Nope.

The problem is not that the app is killed or put in sleep while in background, it's that AVPlayer kills the connection with the steam on pause in background if no background task is started. As said earlier, starting a background task in `pause()` fixes the issue for the time background task

[2016-04-17 11:22] delannoyk commented on #21
Pushed on `develop`.

Note that this fix is not a hundred percent finished, I still have some more testing to do :)

[2016-04-17 11:26] delannoyk commented on #46
Hi,
I'm not observing this on my item. Tried with a livestream URL and with a MP3 hosted only.
Would you mind sharing your item URL so that I can reproduce it?
Thanks

[2016-04-17 11:29] jjhlzn commented on #46
yes, http://jjhaudio.hengdianworld.com/songs/houlai.mp3.  it's from china.

[2016-04-17 11:45] delannoyk commented on #46
Yup thank you for reporting this, it was introduced by myself on `0.8.3` and is ok with new `0.8.4`.

[2016-04-17 11:45] #46 closed

[2016-04-17 11:46] delannoyk commented on #3
I'll be closing this for now.

[2016-04-17 11:46] #3 closed

[2016-04-17 11:46] delannoyk commented on #31
This won't be possible until I get `feature/caching` to work properly. I'm closing this until then.

[2016-04-17 11:46] #31 closed

[2016-04-17 11:53] jjhlzn commented on #46
thanks.
I have fetched the latest code, and the issue is gone.

[2016-04-17 12:24] funkenstrahlen commented on #21
Great. I will have time to test it tomorrow.

[2016-04-17 19:30] funkenstrahlen opened #47 "Question: Will you change Cocoapod name too according to repository name?"

[2016-04-17 20:15] funkenstrahlen commented on #21
Left a comment on the commit 97ec768ceb842e1068945a6e15bd0034bc70d199

[2016-04-18 07:05] delannoyk commented on #47
I would have used it earlier if it was free. Unfortunaltely, it's taken (http://cocoapods.org/pods/AudioPlayer).

[2016-04-18 07:05] #47 closed

[2016-04-18 10:41] MattesGroeger commented on #44
Ok, I tried again with your latest version `69a0e5d393ae4ca869d4e36035860394c2e6c647` (without any of our changes) on iPhone 4S, iOS 8.4.1 and still get the same behavior. I now even have the same behavior when I pause the playback from inside the app:

[code]
Here are my state changes (see the timestamps, it's 3 minutes and 47 seconds later):

[code]

Then I tested on an iPhone 6 Plus, iOS 9.2.1.

[2016-04-18 14:05] jjhlzn opened #48 "When time is not seekable, I think just seek as late as possible is not reasonable."
When time is not seekable, just seek as late as possible or as early as possible is not reasonable.
I think player should pause utils the time is seekable after some time buffering. And player resume play.
@delannoyk, what do you think?

[2016-04-18 14:11] delannoyk commented on #48
Yep I do agree, a PR is currently in progress for this: #41.
Feel free to give your opinion there.

[2016-04-18 17:19] delannoyk commented on #21
Pushed to develop. I added both a retry and a background task because I feel like mimicking AVPlayer's default pause behaviour is important.
I'll push it to master and create a new Pod release for it a bit later tonight.

[2016-04-18 17:48] delannoyk commented on #44
Right now, I'm testing on latest iOS version (iOS 9.3) since it's my only test device for now.
Also, I'm still not seeing the issue unfortunately but I *really appreciate* effort you put into reporting it.

Can I ask you what is the value of `shouldResumePlaying` and `stateBeforeBuffering` when the player restart, and also, what method makes the player restart playing? This would help a lot in ord

[2016-04-20 15:26] MattesGroeger commented on #44
Yeah, I know it's hard to fix something that one can't reproduce ;)

As I wrote in the original issue:

`
The playback is triggered because the KVO on currentItem.playbackBufferEmpty is triggered. It then sets the state to buffering and afterwards starts the background task.
`

The state at [line 911](https://github.com/delannoyk/AudioPlayer/blob/master/AudioPlayer/AudioPlayer/AudioPlayer.swift#L9

[2016-04-23 14:40] funkenstrahlen commented on #21
when do you plan to release the fix as a new version?

[2016-04-23 14:42] delannoyk commented on #21
Tonight or tomorrow morning based on when I get home :) Thanks for the PR btw

[2016-04-23 14:50] funkenstrahlen commented on #21
I did not perform any big tests yet. So you might want to try it first before you release it.

[2016-04-24 08:18] funkenstrahlen commented on #21
I discovered a problem with this line in `resume()`:

[code]

If the player is paused in background for some time its state is `.Paused`. This will reset it to `.Playing` and therefore the retryTImer will fail because it does not retry if the state is already playing.

[2016-04-24 08:22] funkenstrahlen commented on #21
shouldn't the state only be changed by AVPlayer delegate methods?

[2016-04-24 10:58] delannoyk commented on #21
If the state is still `.Playing` that means the `playbackBufferEmpty` is not fired. So yes, I guess I should change that.
Working on it.

[2016-04-24 19:13] funkenstrahlen commented on #21
Couldn't you reproduce it?

[2016-04-26 06:56] funkenstrahlen commented on #21
I will try to further debug it. Maybe I can find the cause...

[2016-04-26 07:38] funkenstrahlen commented on #21
This looks like a problem with AVPlayer. I though about adding a KVO on `player.rate`. However this also does not help.

In `resume()` the `player.rate` ist set to `1.0` which should make AVPlayer play again. If it can not play, because it was in background for too long, it simply does not play, but `player.rate` stays at `1`. So maybe that is why it does not fire the `playbackBufferEmpty`?

[2016-04-26 07:42] delannoyk commented on #21
Hi @funkenstrahlen
Sorry I have very few time this week to look into it (deadline, you know :P).
Anyway, for now, I think I'm going to remove the `retry` function on resume and just let the background task so that we can release a fix for this issue and you're not blocked anymore by this bug. If I recall correctly, you were in favor of only this?

I'll readd this when I have more time to work outs

[2016-04-26 07:46] funkenstrahlen commented on #21
I really understand you can not work on this right now. I have no deadline, so no problem.

I do not think removing `retry` is a good idea. Without it the current `resume` does not even work for 1 minute in background. The app keeps running fine, but the AVPlayer has problems to recover.

[2016-04-26 08:11] delannoyk commented on #21
Thank you, once again, for your contribution on this project. It's really appreciated.

[2016-04-26 08:33] funkenstrahlen commented on #21
I found these problem reports:

* http://stackoverflow.com/questions/36617232/avplayer-cant-resume-after-paused-some-waiting
* http://stackoverflow.com/questions/36858988/avplayer-does-not-fire-playbackbufferempty-but-does-not-play-either (opened this myself)
* http://stackoverflow.com/questions/36781386/avplayer-pause-live-stream-on-ios-9-3

[2016-04-26 08:33] funkenstrahlen commented on #21
There is also another problem I see. This is only relevant if AVPlayer worked like expected!

* set player.rate to 1
* state to playing
* retryTimer called. does not do anything as it sees state = playing
* playBackBufferEmpty called. settings state to buffering

This happens if the `retryTimeout` is very short.

[2016-04-26 11:34] jusonqiu opened #51 "No `Podfile' found in the project directory."

[2016-04-26 11:41] delannoyk commented on #51
Probably because your Podfile doesn't exist in the directory you try to enter `pod install`. Anyway, this is related to CocoaPods, not to this project.

[2016-04-26 11:41] #51 closed

[2016-04-26 11:50] jusonqiu commented on #51
But your project doesen't exist Podfile

[2016-04-26 11:53] delannoyk commented on #51
Indeed, there is no Podfile in this repo. Why is this an issue to you?

[2016-04-26 12:07] jusonqiu commented on #51
Is this just the library ,can not run like app?

[2016-04-26 12:08] delannoyk commented on #51
Yep it's just a library, there is no app!
What got you confused thinking it was an app? Maybe I can change some things in the README.

[2016-04-27 08:54] funkenstrahlen commented on #21
I build a Playground to reproduce it. You can find the code here if you want to experiment: http://stackoverflow.com/questions/36858988/avplayer-does-not-fire-playbackbufferempty-but-does-not-play-either

[2016-05-01 12:13] delannoyk commented on #48
Fixed with PR #52

[2016-05-01 12:13] #48 closed

[2016-05-02 03:44] jusonqiu commented on #22
when i add the player.delegate = self, will show error like "Cannot assign value of type viewcontroller to type "AudioPlayerDelegate?"

[2016-05-02 04:00] jusonqiu opened #54 "can change AudioUnit eq parameter"

[2016-05-02 04:09] jusonqiu opened #55 "How to use let deleglate : AudioPlayerDelegate = self"
show error

value of type viewcontroller does not conform to specified type "AudioPlayerDelegate"

[2016-05-02 07:00] delannoyk commented on #55
Your `ViewController` should implement methods defined in `AudioPlayerDelegate`. Also, it should explicitly conform to it like this:

[code]

[2016-05-02 07:00] #55 closed

[2016-05-02 07:01] delannoyk commented on #54
This is not in the scope of this project right now but contributions are welcome.

[2016-05-02 07:01] #54 closed

[2016-05-03 09:14] funkenstrahlen commented on #21
I see a big problem with `AVPlayer` which makes it very hard to fix this.

I can see this variable configuration in two cases: the player is playing audio and it is not.
[code]

This makes it **impossible** to actually know if the player plays audio.

[2016-05-03 09:54] funkenstrahlen commented on #21
I found a solution but it has some compromise:

Retry until `playback keeping up = true` and the buffer it not empty.

The little problem: If the playback managed to resume before with a buffer reported as empty the retry will still reset the item until the buffer manages to fill up. this adds little audio breaks.

[2016-05-03 10:34] funkenstrahlen commented on #21
@delannoyk If you like you can take a look at this: https://github.com/funkenstrahlen/AudioPlayer/commit/01169ee5e886e46981e0fbe15800cb804234be6e

That's what I tried. But it seems impossible to make it work as long as AVPlayer does not report any indication if its playing or not.

[2016-05-03 12:16] funkenstrahlen commented on #21
I filed a bug report.

[2016-05-04 15:11] senthilsivanath opened #57 "Upcoming features / to do list"
Kindly list to do items / features to be developed in read me.

#Not urgent

[2016-05-09 08:38] funkenstrahlen commented on #21
still no reaction to my radar bug report from apple.

[2016-05-14 19:30] delannoyk commented on #21
Hi,
Thanks for all the information you gave and actions you took.
Any chance you have an openradar issue number so that I can dupe?

[2016-05-16 09:55] funkenstrahlen commented on #21
@delannoyk I published my radar to openradar: http://openradar.appspot.com/radar?id=4970939146043392

[2016-05-17 15:08] Samback opened #60 "Update Xcode at testing server to 7.3.1"
Currently you have Xcode 7.2 at Travic CI and that lead to the problems could you please to update it to the latest one.

[2016-05-17 15:14] delannoyk commented on #60
Hi @Samback,
My current plan is to keep version < 1.0 in Swift 2.1 as I'd like it to be bug-fix only and to release Swift 2.2 with 1.0+.
Anyway, changing the setting in `.travis.yml` shouldn't change much except generate a few warnings on Selectors.
What issues are you currently having with Swift 2.1 (since it compiles just fine with Xcode 7.3.x)?

[2016-05-17 15:21] Samback commented on #60
Hi @delannoyk

I have update code to Swift 2.2 style, at least at one file.
Can we make an additional branch that would start to support new code style? Something like early-alpha-1.0.0?
 Also I implement possibility to add headers if you need it on your request.
 Here is my issues after update:
https://travis-ci.org/delannoyk/AudioPlayer/builds/130569052

[2016-05-20 11:40] funkenstrahlen opened #62 "How does HLS quality switching work?"
I'd like to play a HLS audio only stream with three different audio quality settings. I discovered that AudioPlayer does have the possibility to switch between different streaming qualities. Does AudioPlayer really need to do that himself? Isn't this done by Apple's AVPlayer already?

[2016-05-20 11:44] delannoyk commented on #62
The original app I developed this framework for is for a french radio station that has multiple icecast streams with different quality. They didn't (and still don't) support HLS streaming. Meaning I have ~4-5 URLs, if I remember correctly, for each stream quality. That's why I added the possibility to handle multiple quality based on multiple URLs.

[2016-05-20 11:56] funkenstrahlen commented on #62
This means if I pass a HLS m3u8 to AudioPlayer as mediumQuality URL, it will pass this to AVPlayer and AVPlayer will manage the quality switching itself?

[2016-05-20 11:59] delannoyk commented on #62
Yes, exactly.

[2016-05-20 12:03] funkenstrahlen commented on #62
Ok great. Thank you for the quick reply. I think it is ok to keep the functionality in AudioPlayer for use cases like yours.

[2016-05-20 12:03] #62 closed

[2016-05-20 18:05] delannoyk commented on #60
Hi Samback,

Yes but actually the main "features" on 1.0 are stabilisation, refactoring and unit tests. You can get a preview on the `feature/event_producers` branch.

Also, I'll take a look at your PR this week-end.
Thank you for your contributions :)

[2016-05-24 03:56] huynhphan89 opened #63 "Functions of delegate should be marked as optional."

[2016-05-24 08:23] delannoyk commented on #63
Well, Swift protocols doesn't provide `optional func` out-of-the-box.
This would mean the `AudioPlayerDelegate` should be marked with `@objc`.

What I could do to make this happen, instead of working with an `@objc` protocol is to provide an extension to that protocol that implements methods that we should declare optional. What do you think?

[2016-05-24 18:42] delannoyk commented on #63
Yup, pushed to `master`. No new release for now.

[2016-05-24 18:42] #63 closed

[2016-06-06 10:32] funkenstrahlen commented on #21
@delannoyk Did you also file a radar? Did you get feedback from Apple?

[2016-06-06 10:36] delannoyk commented on #21
@funkenstrahlen Yes I did and no feedback at all 😞

[2016-06-10 09:48] delannoyk commented on #21
A colleague of mine is going to WWDC with the number of this radar 😄

[2016-06-16 15:43] funkenstrahlen commented on #21
I just watched the AVFoundation Session from WWDC. Looks like they fixed a lot of this in AVPlayer.

[2016-07-21 00:07] colonelsshanslanda opened #64 "Use of Undeclared type 'TimeRange'"
`func audioPlayer(audioPlayer: AudioPlayer, didLoadRange range: TimeRange, forItem item: AudioItem) {

    }`

This delegate method has a TimeRange type. Not sure what is the datatype to be declared in the ViewController.

[2016-07-21 09:50] delannoyk commented on #64
You should use `AudioPlayer.TimeRange`

[2016-07-21 09:50] #64 closed

[2016-07-28 03:02] jkdntc opened #65 "Sound with echo"
The problem is when I play the voices messages on the slow mode, it will have echo and breaking up problem. It works fine for the normal speed and fast speed.

I set rate ＝ 0.7 then sound with echo.

example: [http://api.breadenglish.com/app/139.mp3](url)

[2016-07-28 08:39] jkdntc opened #66 "func audioSessionGotInterrupted problem?"
When I play the voice messages in the App, it works fine. However, if I switch to another Apps to play videos and then switch back again, I could not continue to play the voice messages no matter how. Even I tap on the messages, it won’t work either.

My solution:
add pausedForInterruption = false when set currentItem

[2016-08-05 20:46] eiros opened #67 "Use in Objective C project"
Hi there! I have problems with using the delegate.
I added "use_frameworks!" in my pod file and imported library "@import KDEAudioPlayer;"
When I added property "@property (strong, nonatomic) AudioPlayer *internalPlayer;"
And it was OK.
I can use AudioPlayer methods such as "playItem" or "removeItemAtIndex" and so on, but with delegate a have an error "Cannot find protocol declaration for 'AudioPl

[2016-08-08 07:47] delannoyk commented on #67
Hi,

I haven't really tested the integration of this lib in an Objective-C project.
This error seems to be related to the `AudioPlayerDelegate` that is not obj-c compatible. I'll see what I can do.

Keep you posted.

[2016-08-08 07:48] delannoyk commented on #65
Hi,

Could you provide an example sound so that I can test it and see what I can do to help? This is obviously related to `AVPlayer` and I'm not sure that there's anything I can do.

[2016-08-08 09:22] eiros commented on #67
Thank you! I am looking forward to news

[2016-09-07 19:31] senthilsivanath opened #68 "Control center events not working"
Added beginReceivingRemoteControlEvents to my view controller. On click of control center events, i am getting debugging points hit in remoteControlReceivedWithEvent method, but the music is not pause / resume / forwarded / rewinded.

AudioPlayer does not affect the music.

[2016-09-14 13:21] delannoyk commented on #68
Hi, do you forward calls to the audio player ?

[2016-09-14 13:21] #65 closed

[2016-09-18 06:16] senthilsivanath commented on #68
was delegating to wrong instance of AudioPlayer, Made AudioPlayer as static (shared). Control center events are working fine.

[2016-09-18 06:16] #68 closed

[2016-09-21 03:36] anasqadrei opened #69 "Control Center / Lockscreen doesn't work for me"
Love your Audio Player. However, pause or play on the Lock screen doesn't do anything for me. It display the title and artist correctly though. My code looks something like this:

[code]

[code]

What did I miss?

p.s. It would be nice to have a fully working example in the repository.

[2016-09-21 08:53] delannoyk commented on #69
Hi @anasqadrei
Yes, I'm working on an example, unfortunately I have very little time right now to finish it.

Anyway. My guess is that your `PlayerViewController` isn't in the responder chain anymore therefore `remoteControlReceivedWithEvent` isn't called. To solve this issue, you can either try to force to be the first responder or implement this in your AppDelegate.

[2016-09-21 08:54] delannoyk commented on #69
I'll leave this open, let me know if that helped.

[2016-09-21 09:12] lfarah opened #70 "Swift 3 compatibility"
Hey, I'd love to see this lib available in Swift 3 so I can implement it in my project.

Thanks 😄

[2016-09-21 09:14] delannoyk commented on #70
Hi Lucas!

It's coming, but I don't have a lot of time right now - moving from Europe to Canada in 2 weeks so... yeah, it's complicated.
I'll do my best to update it before but I can't give you an ETA yet.

[2016-09-22 09:21] anasqadrei commented on #69
After some reading, I found out that `self.becomeFirstResponder()` has to be inside `viewDidAppear`

[code]

[2016-09-22 09:21] #69 closed

[2016-09-22 13:37] jookes commented on #70
It seems that this repo added swift3 support
https://github.com/bartleby/AudioPlayer

[2016-09-22 23:18] anasqadrei opened #71 "Does Control Centre still work even after you launch another app?"
Control Center/Remote Control works fine in Home screen or Lock screen. But once I go and launch another app such as Settings for example, the Control Center stops working. If I go to Home again, it won't work. I have to launch my audio app first then it will work.

Is it suppose to do that? Is it a bug? Why doesn't it work like the Apple Music app where control centre works even if you launch oth

[2016-09-27 08:10] anasqadrei commented on #71
Hey @delannoyk have you had a chance to look it at?

[2016-09-27 09:41] delannoyk commented on #71
Hi!
Sorry for the delay, for the next month I won't have a lot of time to handle issues/migrations/releases.
Anyway, this behaviour is not intended. Could you show me how/where you handle the remote events?

[2016-09-27 10:38] anasqadrei commented on #71
I've created a single view app with the below code. Remote control works fine if I exit the app to the Home screen. But once I open any other app such as Settings, for example, remote control stops working until I re-open the KDEAudioPlayer app.

Is anyone able to support this while you're away?

**ViewController.swift:**
[code]

**AppDelegate.swift:**
[code]

[2016-09-27 11:58] delannoyk commented on #71
Just tried with the exact same code, I'm not seeing any issues. Did you enable the audio background mode for your app?

[2016-09-27 13:11] anasqadrei commented on #71
Yup, that solved it only on the physical iPhone device. Simulator still has the same issue. Did you run the code on the simulator or on the device?

[2016-09-27 13:13] delannoyk commented on #71
Device. Can I close this?

[2016-09-27 13:15] anasqadrei commented on #71
Sure, I'll do it for you. Thanks for the help :)

[2016-09-27 13:15] #71 closed

[2016-10-02 05:15] anasqadrei opened #72 "Volume Control"
I've noticed that `kdeAudioPlayer.volume` doesn't react to the iPhone device volume change.

`kdeAudioPlayer.volume` always starts with 1.0 even if the device's volume is 0.6 or 0.4 or whatever.

Also changing the volume on the device doesn't trigger a remote control event.

I know you're busy at the time, but I would love to have more powerful volume control feature whenever you're free.

[2016-10-02 15:48] delannoyk commented on #72
This property doesn't represent the device volume but the player volume. If you want to check the device volume, I think `AVAudioSession.sharedInstance().outputVolume` is the way to go.

[2016-10-02 15:48] #72 closed

[2016-10-11 12:05] samuelbeek commented on #70
@delannoyk when you have the time? Can you take a look at this branch? https://github.com/bartleby/AudioPlayer. I've used it in my project and it's a perfect Swift 3 migration of your repo.

[2016-10-15 02:07] davidseek commented on #70
+1

[2016-10-28 19:45] delannoyk commented on #60
Closing this as master is now Swift 3.0 (no CocoaPods release yet though).

[2016-10-28 19:45] #60 closed

[2016-10-28 19:47] delannoyk commented on #57
Added it in the README (sorry for the delay).

[2016-10-28 19:47] #57 closed

[2016-11-03 16:40] lopify commented on #70
+1

[2016-11-03 16:41] delannoyk commented on #70
`master` is currently usable with swift 3.0. I still have some tests to run before releasing it to CocoaPods.
In the meantime, feel free to test it an report issues if you want to!

[2016-11-08 03:22] asidarous commented on #70
Hello, how do we use it without cocoapods?

[2016-11-10 04:14] samutay opened #77 "PlayerEventProducer does not properly handle AVPlayerItemDidPlayToEndTime"
The addObserver passes the player as the object but should be the player.currentItem. According to the docs, the observed object must be the AVPlayerItem instance, not the AVPlayer itself. So this event does not fire in the newest code.

e.g. line 129 should be
center.addObserver(self, selector: .itemDidEnd, name: .AVPlayerItemDidPlayToEndTime, object: player.currentItem)

[2016-11-10 04:44] samutay commented on #77
Actually, probably needs better refactoring and moving that event to AudioItemEventProducer since it is associated with the AudioItem.

[2016-11-11 05:40] mhmmdmz opened #78 "Working with swift 2.3"
Hi,

I wanted to keep the version of KDEAudioPlayer that I have on my project to work with swift 2.3 only. However, it seems I mistakenly upgraded it with the master branch that works with swift 3 - result is that the compiler doesn't allow a project complied in 3.0.1 (i.e. KDE) with my existing project, which is in 2.3.

Is there a way that I can get the 2.3 version of the code?

Thanks.

[2016-11-11 21:23] mhmmdmz opened #79 "Player takes a while to start"
I'm trying to stream audio from a server and your player has been a great blessing in that direction. It used to work great before I tried to implement a singleton. Now, when the singleton works, the player takes a long time to start... say about 30 seconds. I noticed in this duration, the control centre receives audio and stops many times (about 14) before finally deciding to play the audio. So i

[2016-11-12 03:19] delannoyk commented on #78
Hi,
Yes, using the `0.9.1` version should work for you.
So that should look like this in your `Podfile`:`pod 'KDEAudioPlayer', '= 1.0'`

[2016-11-12 03:19] #78 closed

[2016-11-12 03:20] delannoyk commented on #79
Mh this is weird. Care to share some code? My email is my github handle @gmail dot com.

[2016-11-12 12:25] mhmmdmz commented on #79
Sent you the files via email.

[2016-11-12 12:27] mhmmdmz commented on #78
Hi,

0.9.1 doesn't work. my compiler says that it was compiled in swift 3.0.1 so
I can't import it in 2.3 - I tried to set legacy as Yes ... but that throws
a lot of errors (setting legacy as No - compiles though)

On Fri, Nov 11, 2016 at 10:19 PM, Kevin Delannoy <notifications@github.com>
wrote:

[2016-11-12 15:15] delannoyk commented on #78
This is weird because 0.9.1 shouldn't compile with swift 3. Can I ask you a screenshot of the source files you have for the pod, to ensure you're actually using 0.9.1?

[2016-11-12 15:15] delannoyk commented on #79
I didn't receive anything.

[2016-11-12 15:29] mhmmdmz commented on #78
I'm away from my screen at the moment but I'm sure it's 0.9.1 Cuz the
terminal too says so when I do a pod update
On Sat, Nov 12, 2016 at 10:15 AM Kevin Delannoy <notifications@github.com>
wrote:

[2016-11-12 15:30] mhmmdmz commented on #79
delannoy@gmail.com - that's your id?
On Sat, Nov 12, 2016 at 10:15 AM Kevin Delannoy <notifications@github.com>
wrote:

[2016-11-12 15:52] delannoyk commented on #79
You forgot a 'k' there :)

[2016-11-12 15:56] mhmmdmz commented on #79
Woops... Sent it again
On Sat, Nov 12, 2016 at 10:52 AM Kevin Delannoy <notifications@github.com>
wrote:

[2016-11-16 14:17] JeanetteMueller commented on #77
Thank you very much. I have already been looking for the error

[2016-11-22 10:49] danielmartinprieto opened #80 "AudioPlayerDelegate doesn't get called with time updates playing a live stream"
Hi.

I've observed that `audioPlayer(_ audioPlayer: AudioPlayer, didUpdateProgressionTo time: TimeInterval, percentageRead: Float)` doesn't get called while playing a live stream. I've checked the code and it's because the player cannot know the total duration, therefore it skips calling the delegate.

In my opinion, this callback is still useful even if you don't know the total duration of the st

[2016-11-22 16:22] danielmartinprieto commented on #77
I've been able to reproduce this issue. As a workaround I guess you can check in the AudioPlayerDelegate method `audioPlayer(_ audioPlayer: AudioPlayer, didUpdateProgressionTo time: TimeInterval, percentageRead: Float)` if the percentage is 100.

[2016-11-23 21:30] danielmartinprieto commented on #77
My workaround doesn't seem to work, and indeed changing `center.addObserver(self, selector: .itemDidEnd, name: .AVPlayerItemDidPlayToEndTime, object: player)` by `center.addObserver(self, selector: .itemDidEnd, name: .AVPlayerItemDidPlayToEndTime, object: player.currentItem)` seems to do it.

[2016-11-24 00:16] delannoyk commented on #77
Yep that's an error. Fixing that right now.
It's not part of `AudioItemEventProducer` because that one is used for pure `AudioItem` changes, not the `AVFoundation` part.

[2016-11-24 00:17] delannoyk commented on #77
Thanks for the report. Fixed on master.

[2016-11-24 00:17] #77 closed

[2016-11-24 00:26] delannoyk commented on #80
Hi Daniel,
Correct me if I'm wrong but I think the `time` is only relative to when the user started playing the livestream isn't that right? I mean at the time he presses "Play" the time is 0, after 10 secs it's 10 etc etc. How would you know what is being played based on this relative time?

[2016-11-24 00:34] delannoyk commented on #79
On my test app It ran just fine so my guess is it's server or internet connection related so nothing I can do to help, sorry :(

[2016-11-24 00:34] #79 closed

[2016-11-24 01:38] mhmmdmz commented on #79
Did you try the same links I shared? And encountered the issue?

On Wed, Nov 23, 2016 at 7:34 PM, Kevin Delannoy <notifications@github.com>
wrote:

[2016-11-24 09:33] danielmartinprieto commented on #80
Yes, I think that's correct.

Although you could know what's being played if you save the starting date (when the user presses play) and track the progress. This is useful as well if you want to seek back to a certain time, because if it's later than when you started, you already have the new _current_ date just adding the progress.

Another approach I wanted to follow is to get the timed metadata

[2016-11-24 12:10] danielmartinprieto opened #83 "Observing AVAudioSessionInterruption doesn't work"
Hi.

I was just testing interruptions (triggering Siri, for example) and realised the method `audioSessionGotInterrupted(note: NSNotification)` was not being called. Checking the code I've seen the observer was being added passing it the AVPlayer instance, and afaik it's not AVPlayer which sends the AVAudioSessionInterruption notification. Just passing `nil` to the `object` parameter makes it work

[2016-11-24 14:59] danielmartinprieto opened #84 "Missing AudioItem unique identifier"
Hi. It seems I'm bothering you a lot this week, sorry about that. I got very excited when I saw you refactored the framework and put more time into it, I thought I could use it in my projects (I already use it in production in a small tvOS app) and get more involved.

Anyway, I think it could be useful to have something like a unique identifier for the AudioItem object, to easily identify them wit

[2016-11-25 00:53] delannoyk commented on #83
No actually that's an error that slipped in when refactoring the project. Good catch!
I'm sorry about those kind of issues, as the main app I use this project on is not Swift 3 converted yet, I haven't detected those yet and that mainly the reason why I didn't release a new version of the pod yet.
Updating it right now!

[2016-11-25 00:57] delannoyk commented on #83
Actually none of the notification were correct since they're not related to the player but to the audio session.
Fixed.

[2016-11-25 00:57] #83 closed

[2016-11-25 01:12] delannoyk commented on #66
Hi @jkdntc
Is this still an issue on the latest version?

[2016-11-25 01:15] delannoyk commented on #84
Not bothering at all, that how we make this library better right?
I did think about putting a `userInfo` dictionary. What do you think about it?

[2016-11-25 01:54] delannoyk commented on #80
Makes sense. Working on that right now.

[2016-11-25 02:45] #80 closed

[2016-11-25 13:39] danielmartinprieto commented on #84
Mmm, that could work, you mean a custom dictionary where the library user can put any information, right? I was thinking in a simpler solution, more like a new `String` property on the `AudioItem` object, `identifier` or something like that, so you can look up easily in your data source for the element(s) associated with a certain audio item, but probably your suggestion is more powerful?

[2016-11-28 19:43] eiros commented on #67
Hi! Are there any changes?

[2016-11-29 09:30] sirvon opened #85 "errors building with carthage..."
[code]

[2016-11-29 09:30] #85 closed

[2016-11-29 14:10] delannoyk commented on #67
Hi!
This is on the TODO list but I still haven't work on that yet. Thing is some types currently used are not objc compatible so some one them require full re-work.

[2016-12-13 08:37] RubenMH commented on #70
Hi @delannoyk

Could you upgrade the version of master with swift 3.0 to CocoaPods?

Thanks!

[2016-12-15 16:57] sirvon opened #86 "issues with carthage...."
[code]

[2016-12-18 15:15] lopify opened #87 "Not auto retry when connection lost"
I do as following:

let item = AudioItem(mediumQualitySoundURL: radioStation.streamURL)
player.playItem(item)

Then I turn off the wifi, the music stops, I put the wifi back on and nothing happens... any idea of what I'm doing wrong?

Thanks!

[2016-12-22 20:25] JeanetteMueller opened #88 "MPMediaItemArtwork deprecated"
it would be great to use an MPMediaItemArtwork as .artworkImage on AudioItem

Since MPMediaItemArtwork(image: UIImage) is deprecated you have to use something like this

MPMediaItemArtwork.init(boundsSize: CGSize.init(width: 512, height: 512) , requestHandler: { (size) -> UIImage in{
return UIImage.init(named: "artwork")
})

[2016-12-23 19:39] delannoyk commented on #88
Hey @JeanetteMueller
I added a new property `artwork` that is a MPMediaItemArtwork for your advance usage. Let me know if that works our for you!

[2016-12-23 19:40] #88 closed

[2016-12-23 19:41] delannoyk commented on #84
Actually, I've been wondering if this was really needed on the library. An `AudioItem` is an open class so it can be subclassed and you can add any property you want.

[2016-12-23 19:41] #84 closed

[2016-12-23 19:42] #21 closed

[2016-12-23 19:43] delannoyk commented on #8
It doesn't seem that there is a high demand for this feature while it requires a lot of work - and even the in-progress branch should be re-written to swift 3. Closing this but if you want I'm accepting a PR for this.

[2016-12-23 19:43] #8 closed

[2016-12-23 20:11] delannoyk commented on #70
Hey everyone,

Just published `1.1.0-beta`. The version is marked as beta as there is still one bug I have to investigate. Closing this issue though.

[2016-12-23 20:11] #70 closed

[2016-12-26 16:54] alejandroluengo opened #89 "Can you make it Swift 3 compatible?"
Looks awesome, but it won't compile on Swift 3

[2016-12-26 23:26] delannoyk commented on #86
The build is passing on Travis. I think the problem is that the current Swift 3.0 version is still tagged with "beta" and Carthage doesn't like that.
If you specify the version in your Cartfile like so `1.1.0-beta` everything works fine.

[2016-12-26 23:26] #86 closed

[2016-12-26 23:26] delannoyk commented on #89
It is. Are you using Carthage?

[2016-12-27 23:39] JeanetteMueller commented on #88
Great, thanks a lot

[2016-12-28 02:07] #89 closed

[2016-12-30 12:50] samuelbeek commented on #17
I actually want to do the exact opposite. Tracks start playing when on avarage 900 seconds are loaded, which in my opinion is way too much.

[2016-12-31 14:03] JeanetteMueller opened #90 "Information on change AudioItem"
When you switch from one AudioItem to another, the Audio Player State changes from .playing to .buffering.

Would it be possible to get between an information the audioItem paused?

I want to save the current position but on buffering it is to late and there is no information what the last AudioItem was if i don't use  your playlist functionality.

[2017-01-09 08:59] milanivarni opened #91 "Swift 3 Support?"
Hey @delannoyk,  I am trying to implement this library into Swift 3 Project but it shows errors:
![screen shot 2017-01-09 at 2 27 53 pm](https://cloud.githubusercontent.com/assets/22673922/21761273/da219e66-d677-11e6-9897-207dd8d4b00e.png)

Help would be appreciated.

[2017-01-09 14:11] delannoyk commented on #91
Hey @milanivarni
The swift 3 version is available. Can you run `pod update`?

[2017-01-11 18:13] HamedPourjafar64 commented on #91
it is not working even with pod update same issue here what should I do really stocked here

[2017-01-21 21:30] ourdex86 opened #92 "Audio taking lot of time play"
Hi,

When I am trying to use this in my project for swift 3.0, this is taking lot of time to play the song. But, if I use the default Audio player then its immediate.

[2017-01-23 17:24] ilesmana opened #93 "Example Project"
Hello,

Can you give an example project? I have implemented this with Swift 3, but it didn't work, the sound never played.

Here is my code:
let fileURL = NSURL(string: "this is my mp3 file url")
let player = AudioPlayer()
let item = AudioItem(mediumQualitySoundURL: fileURL as URL?)
player.play(item: item!)

Thank you

[2017-01-23 19:45] delannoyk commented on #93
Hi,

Yes it's in my TODO list.
For your specific issue, you should retain your `AudioPlayer` instance or it will get deallocated right away.

[2017-01-24 04:42] ilesmana commented on #93
Hi,

It's work!
thanks for your help. Sample project will be helpful.

[2017-01-24 06:48] dunqi commented on #91
You have to add the last commit-hash at the end in Cartfile.
".../AudioPlayer" "hash"

[2017-01-24 13:01] #93 closed

[2017-01-26 13:09] vaderdan opened #94 "Quicker update of audio progress on delegate"
Hi

I want to update audio progress when I'm playing sound. Now when I'm updating via the delegate
it works and updates it with rate of 0.5 second which is not very smoothly

can you make a config property on player object so I could modify it easily
see this

https://github.com/delannoyk/AudioPlayer/blob/master/AudioPlayer/AudioPlayer/event/PlayerEventProducer.swift#L138

[2017-01-28 19:24] almatri commented on #91
Same with me , not working with Swift 3 project

[2017-01-31 06:59] dunqi commented on #91
The problem is, that you are not checking out the latest commit.

[2017-02-03 23:52] almatri commented on #91
what about cocoapods?

[2017-02-04 00:48] delannoyk commented on #91
`pod 'KDEAudioPlayer', :git => 'https://github.com/delannoyk/AudioPlayer', :branch => 'master'`
Sorry about that. It seems that CocoaPods doesn't like the fact that the 1.0 still contains 'beta' in the version. Will work on this project this week-end in order to get out of the beta. Shouldn't be much work, it's pretty solid already.

[2017-02-20 16:11] k1nk4 opened #95 "Usage not working"
let audioPlayer = AudioPlayer()

            let delegate : AudioPlayerDelegate = self

            audioPlayer.delegate = delegate

            let item = AudioItem(lowQualitySoundURL: url)

            audioPlayer.play(item: item!)

Its not playing anything. Whats wrong?

[2017-02-21 00:18] delannoyk commented on #95
You have to keep a reference to the audio player instance so that it's not deallocated.

[2017-02-21 00:18] #95 closed

[2017-02-23 01:36] anasqadrei opened #96 "How to check for error in Swift 3"
Prior to swift 3, I was checking for any kind of error like this:
[code]
But after converting to swift 3, the `nil` always gives a compile time error. How to check for failed loading(regardless of the reason)?

[2017-02-23 01:37] delannoyk commented on #96
`if case .failed = state` should do the trick

[2017-02-23 01:42] anasqadrei commented on #96
Worked. Thanks.

[2017-02-23 01:42] #96 closed

[2017-03-20 08:06] paneaktae opened #97 "Play with time ?"
how to play audio at time?

[2017-03-24 08:27] FrancoisObob opened #98 "AudioItem artwork with URL"
Hi,
Actually every artwork of my tracks are remote images, so I want to fetch this artwork when the track start to play. What's the best way to load AudioItem image from URL ?
Sorry, maybe this is trivial but I don't have any example of implementation ...
Thanks !

[2017-03-27 02:44] sirvon commented on #92
did you resolve this? and how...
thanks!

[2017-03-31 08:10] paneaktae opened #99 "How to fix it? please help me thank you."
When i use AudioPlayer play items(queue) the player have error.

follow :
![screen shot 2560-03-31 at 3 09 18 pm](https://cloud.githubusercontent.com/assets/11417557/24541972/0b05b576-1624-11e7-888c-012417cf3417.png)

code :
![screen shot 2560-03-31 at 3 09 54 pm](https://cloud.githubusercontent.com/assets/11417557/24541995/23f1586a-1624-11e7-90a6-e48ed2ff7987.png)

[2017-04-03 23:55] delannoyk commented on #99
Hey,

From what I see, your URL has a custom scheme and is not HTTP(s)? Could you confirm?

[2017-04-04 13:39] magorik commented on #99
Hello,
The solution is to change:

`URL(string: mediaDatas[i]["url_media"].stringValue)!`

to

`URL(fileURLWithPath: mediaDatas[i]["url_media"].stringValue)!`

Reason is that you need to play local file, i guess...

[2017-04-04 13:45] magorik commented on #66
add pausedForInterruption = false when set currentItem
Its work for me.

[2017-04-04 13:47] delannoyk commented on #99
Well if your file is local then yes.

[2017-04-04 13:47] #99 closed

[2017-04-07 22:07] delannoyk commented on #98
Hey Francois,
You can create your `AudioItem` instance, ask for the player to play, download your image on a background thread or read from any cache you might have and update the `AudioItem` instance you created before. `AudioPlayer` will be notified for that change and will update what is necessary.
Let me know if you have any more question!

[2017-04-07 22:07] #98 closed

[2017-04-07 22:09] delannoyk commented on #94
@vaderdan I think it's kind of smooth enough. How much would you want? I'm not really willing to add this property as it would require more work around - the already complicated - state (remove observer and maybe recreate a new one - with everything that implies).

[2017-04-07 22:09] #91 closed

[2017-04-07 22:11] delannoyk commented on #90
Hey Jeanette,
Sorry for the delay.
If you manage your own queue, couldn't you just save the time before moving onto the next item?

[2017-04-12 21:14] ghost opened #100 "Change AudioItem's url value"
Is there a way to change AudioItem's url value?
I have this:
AudioItemURL(quality: KDEAudioPlayer.AudioQuality.medium, url: http://xxxxxxx.com.br/static/media/musics/XXXXXXX.mp3)

[2017-04-14 04:14] bretp3 opened #101 "Wifi lost not restarting"
When starting the stream on wifi and then turning wifi off, the stream does not resume even with a full cell connection. This happens every time I run the app starting on wifi.

Starting from a cell connection and then going back and forth between wifi/cell works as expected every time.

This might be relevant to #87 . Could this be an AVPlayer bug or are we missing a case somewhere?

[2017-04-16 16:04] muhammad-naderi opened #102 "Add headers"
is there any supported method to add headers to songUrl ?

i found [this](https://github.com/delannoyk/AudioPlayer/pull/59) but it does not seem to be in the master repo

[2017-04-18 04:44] paneaktae opened #103 "Items in queue wrong ."
When i add items to queue two items , but i call previous or next two times player can changed item.

[2017-04-18 05:26] paneaktae commented on #103
i mean to previous function wrong

[2017-04-18 19:13] delannoyk commented on #100
Hey @ghost
What are you exactly trying to achieve? You can change the url by creating a new item but the url cannot change overtime.

[2017-04-30 21:25] delannoyk commented on #103
Fixed on master.
Thanks for reporting this.

[2017-04-30 21:26] delannoyk commented on #94
Closing this.
Re-open if you really feel like 0.5 is not enough.

[2017-04-30 21:26] #94 closed

[2017-04-30 21:27] #100 closed

[2017-04-30 21:27] delannoyk commented on #92
Fixed on master.

[2017-04-30 21:27] #92 closed

[2017-04-30 21:27] #90 closed

[2017-05-02 10:07] paneaktae commented on #103
thx for support :)

[2017-05-02 11:08] jadsonlourenco commented on #103
Send a new release?

[2017-05-03 01:15] delannoyk commented on #103
Done! 1.1.0 is up

[2017-05-09 10:26] ddfreiling commented on #17
This should now be possible with:

AVPlayer.automaticallyWaitsToMinimizeStalling
https://developer.apple.com/reference/avfoundation/avplayer/1643482-automaticallywaitstominimizestal
AVPlayerItem.preferredBufferDuration
https://developer.apple.com/reference/avfoundation/avplayeritem/1643630-preferredforwardbufferduration

[2017-05-10 08:58] pmbfish40 opened #104 "is there full example of how to use other methods too?"
Could you please also upload en example of working project not only library for example how to use shuffle repeat etc.

[2017-05-11 16:53] delannoyk commented on #104
Hey,
Not as of right now but it's on the todo list.

[2017-05-11 16:53] #104 closed

[2017-05-11 19:43] sirvon opened #106 "How to use..."
let delegate: AudioPlayerDelegate = ...

What's supposed to go in replace of the ...?

thanks!

[2017-05-11 19:44] sirvon commented on #87
@lopify have you found how to solve this or another lib that solves? thx

[2017-05-11 20:12] delannoyk commented on #106
An instance of AudioPlayerDelegate that you have created.
https://developer.apple.com/library/content/documentation/Swift/Conceptual/Swift_Programming_Language/Protocols.html

[2017-05-11 20:44] lopify commented on #87
No @sirvon :-(

[2017-05-12 11:34] tmp120210 opened #107 "Repeat doesn't work properly"
How to reproduce:

1. Start playing an item
2. Set player.mode to .repeat
3. Wait until the end of the track

Expected:
Track will be played again from the beginning

Actual:
Player start playing next track (which will be repeated)

As far as I see, we need to check player.mode on .endedPlaying event and seek to track start if mode is .repeat.

[2017-05-14 01:37] sirvon commented on #106
I acutally spent the whole last week wrapping my head around protocols, not from a copy and paste standpoint but from actually knowing what and how to...I'm still not there...

Can you give an example to increase my understanding.

thank you!

[2017-05-14 01:41] sirvon commented on #106
can it be..... ```delegate: AudioPlayerDelegate = self ``` ?
If I conform a ViewController to AudioPlayerDelegate

[code]

[2017-05-14 14:59] delannoyk commented on #106
@sirvon yes for sure it can.

[2017-05-14 19:08] #106 closed

[2017-05-15 07:25] pmbfish40 opened #111 "Is it possible to have shuffle and repeatAll mode enabled together?"

[2017-05-15 15:14] pmbfish40 opened #112 "Notification center UI sync with main UI"
When I click pause button from lock screen I want get notified in main UI to change button's state.

[2017-05-15 15:40] pmbfish40 commented on #112
When I click pause button from lock screen I want get notified in main UI to change button's state.

[2017-05-15 16:20] delannoyk commented on #17
Feature is on master, thanks for @ddfreiling

[2017-05-15 16:20] #17 closed

[2017-05-15 16:21] delannoyk commented on #111
Yes, `audioPlayer.mode = [.shuffle, .repeatAll]`

[2017-05-15 16:21] #111 closed

[2017-05-16 07:02] bauer9664 opened #113 "When I use seek method it starts playing music again when it pause."
When I am using slider to seek and my music is in pause mode it start playing again. For that reason my slider not working as expected.

I resume music player?.resume() when I detected the slider value end sliding. As seek method resuming play slider getting old percentageRead value.

What I want.

I want to have completion handler on seek when it ended to seek or not resume after seek.

Which one

[2017-05-16 07:54] ddfreiling commented on #87
I know why this happens.

In the code here:
https://github.com/delannoyk/AudioPlayer/blob/master/AudioPlayer/AudioPlayer/player/AudioPlayer.swift#L88-L102

AVPlayer is set to `nil` which stops all event producers.

Then a .waitingForConnection state is reached and the function returns. But the NetworkEventProducer was never started again, so we will not receive any callbacks when the internet conn

[2017-05-19 08:35] #112 closed

[2017-06-09 11:18] phoochaliaw opened #116 "When remote in cellular is error."
Hi when I play audio with cellular in second song, it cannot play. Why?

[2017-06-14 09:38] Elipasousa commented on #97
+1

[2017-06-20 14:57] pmbfish40 commented on #107
How do you checking .endedPlaying. Could you please share it with me?

[2017-06-28 20:42] danielmartinprieto commented on #66
Hey, @delannoyk. Just saw in one of my apps a bug related with this issue. I will try tomorrow the fix in this [PR](https://github.com/ddfreiling/AudioPlayer/commit/d96bb5cd8ee80b0947bd9f34c3ac18ffa3906ca0) to test if it works. Have you been able to take a look at the code?

[2017-06-29 10:25] danielmartinprieto commented on #66
I can confirm that the work in https://github.com/delannoyk/AudioPlayer/pull/115 by @ddfreiling fixes this issue. Thanks, @ddfreiling! I will post some comments in the PR, and it'd be great if @delannoyk gives his input as well before merging.

[2017-06-29 23:18] #66 closed

[2017-08-04 10:58] bizibizi opened #117 "what settings should I set to play song from URl as fast as possible?"

[2017-08-04 11:15] jadsonlourenco commented on #117
Using a stream(VOD) source?

[2017-08-04 11:42] bizibizi commented on #117
do not sure what's that.

I want to play mp3 from url without buffering(without waiting for it!)

[2017-08-04 13:22] jadsonlourenco commented on #117
If you set the url to a mp3 file directly it will download the file to begin play it, so, to start the playback instantly you need a "stream" url, in this case I recommend HLS (search on google).

If you need a stream server: https://github.com/kaltura/nginx-vod-module

[2017-08-08 11:19] bizibizi commented on #117
@jadsonlourenco ok, I see. So, I am able to save that .mp3 then?

[2017-08-08 11:20] jadsonlourenco commented on #117
Yes, if you are using iOS 10+: https://github.com/r-plus/HLSion

[2017-08-08 11:25] bizibizi commented on #117
@jadsonlourenco 9.0 :(
well, maybe you can recommend me some library which does:

- start playing .mp3 from url immediately (like streaming or streaming)
- cache it and track caching progress during it's playback
- save cached file to local storage

[2017-08-08 12:04] jadsonlourenco commented on #117
Well:
* AVPlayer
* iOS 10+ has this feature by default (https://developer.apple.com/library/content/documentation/AudioVideo/Conceptual/MediaPlaybackGuide/Contents/Resources/en.lproj/HTTPLiveStreaming/HTTPLiveStreaming.html) but I think this lib more convenient: https://github.com/r-plus/HLSion
* The same lib as before

[2017-08-10 07:51] icedice commented on #97
What do you mean "play at time" ? if you want to start playing at at specific position use the seek method...

[2017-08-25 03:11] Smiacter commented on #103
There is still a problem, previous function is wrong, hasPrevious is wrong...

[2017-08-25 10:13] jadsonlourenco commented on #103
Yes, I can confirm, the issue is "open" again.

[2017-08-25 23:07] yeralin commented on #8
Hey @delannoyk did you figure this out?

I tried it myself: https://stackoverflow.com/questions/45786283/avurlasset-when-response-doesnt-have-content-lenght-header

But I faced a problem, if server doesn't send 'Content-Length' my ResourceLoaderDelegate won't play the file.

[2017-08-27 11:22] jadsonlourenco commented on #8
@yeralin I'm using this: https://github.com/r-plus/HLSion

[2017-08-27 15:25] yeralin commented on #8
@delannoyk The problem here, I want to download song while it is being played. In your solution, I need to download song first, that is not what I need :/

The only way to do that is to implement custom ResourceLoaderDelegate, and I did it. It is working, but the only problem I currently have is playing audio stream w/o 'Content-Length' header.

[2017-08-27 15:31] delannoyk commented on #8
@yeralin I'm not the one who suggested that library (@jadsonlourenco is) but I agree it has nothing to do with audio, it's just a layer over a network request.
Anyway. I think the branch with the resource loader still exists though it contains a few bugs https://github.com/delannoyk/AudioPlayer/tree/feature/caching

[2017-09-11 07:47] shubhankarbhavsar commented on #107
Hi ,

I'm facing the same issue. Please share a quick fix for this issue.

[2017-09-11 10:31] pmbfish40 commented on #107
You have to set repeat mode and play playlist.

[.repeat,.repeatall]
player.play()

[2017-09-11 10:35] shubhankarbhavsar commented on #107
@pmbfish40  , Thanks for quick reply.
i've few things to ask : 1. Should i pass the array of modes when initializing the audio player object ?
2. There is no method present as  player.play(), instead there is method that takes array of items as initializer player.play(items : [Audioitem]).

Please suggest and thanks in advance.

[2017-09-11 13:20] pmbfish40 commented on #107
I can share my code with you.

https://pastebin.com/54waXUNx

[2017-10-07 00:30] delannoyk commented on #21
Hey @funkenstrahlen
I got an update from Apple saying it got fixed in 11.0.2 and the playground seems to be working now, haven't tried on device yet.
Cheers

[2017-10-19 10:54] SerhiiMatvieiev opened #120 "Why I can't seek in lock screen?"
I can't seek in MPNowPlayingInfoCenter, I see only progress line. Anybody know what a problem is?

[2017-10-21 00:24] kidcosmic opened #121 "Swift 4 support"
AudioPlayer doesnt build with Swift 4

[2017-11-09 08:06] dannydolph opened #123 "Save streamed file"
Hi,
Is there anyway to save streamed file permanently for later access? any suggestion how to do this?

[2017-11-09 09:43] chitvan832 opened #124 "Audio Breaks and volume increases on its own"
when playing audio the audio breaks, and the volume suddenly increases

[2017-11-16 08:46] SerhiiMatvieiev opened #126 "Strange memory leak"
When I start playing audio items I have this memory leak, look at screen below:
<img width="1440" alt="screen shot 2017-11-16 at 10 42 54 am" src="https://user-images.githubusercontent.com/14834451/32881876-44a05ec0-cabb-11e7-8565-dec60e5a49c5.png">

Anybody now how to fix it? Or where I can find this leak in code?

[2017-11-21 20:52] Rusik commented on #120
Use `MPNowPlayingInfoCenter` with your own code

[2017-11-21 20:56] jadsonlourenco commented on #120
@Rusik could you share the param that make the **seek** (using the slider control, like Itunes does)?

[2017-11-22 18:29] jadsonlourenco commented on #121
Well, IOS 11 was released few days ago and I think is time to @delannoyk release a new version with Swift 4 support. I've cloned this repo and using XCode 9 to convert automatically to Swift 4 worked, but still need fix manually this file `AudioItem.swift` and replace the last function with this:
[code]

I don't know how to push and I think need more than this, like run and pass the "tests" of the

[2017-11-23 13:16] Rusik commented on #120
@jadsonlourenco use something like
[code]

[2018-01-07 12:33] omidgolparvar commented on #113
@bauer9664 Cloud you please tell me how can I use slider as seekbar for playing item?

[2018-01-26 08:15] calvinsug opened #128 "play ogg file format?"
Hi, i'm searching for AudioPlayer to play .ogg audio file format for Swift project, just want to make sure if this library is support .ogg format or not ?

[2018-02-03 20:31] VSG24 commented on #128
This project is merely a wrapper around AVPlayer and if AVPlayer doesn't support a format, this lib changes nothing.

[2018-02-05 14:43] delannoyk commented on #126
The responsible framework is AudioToolbox so as far as I know there's not much that we can do.

[2018-02-05 14:43] #126 closed

[2018-02-05 14:45] delannoyk commented on #123
Took a try at this bug the result made the library quite buggy so I closed the previous issue.
If you're interested, here's the branch (it hasn't been rebased in a while) https://github.com/delannoyk/AudioPlayer/tree/feature/caching

[2018-02-05 14:45] #123 closed

[2018-02-20 19:02] headkit opened #129 "Could you please provide an example for local file playback?"
It would be great if you could provide an example for a local file playback. Thanx!

[2018-02-20 19:10] headkit commented on #129
oh, I see, it would be something like

`let item = AudioItem(highQualitySoundURL: URL(URL(fileURLWithPath: filepath.stringValue)!))`

[2018-02-20 19:11] #129 closed

[2018-02-26 06:14] kristoff2016 opened #130 "[Featured Request]: Could you add featured lyric ?"

[2018-02-26 20:26] moderateepheezy commented on #102
@muhammad-naderi where you able to solve this as I am in dire need of it?

[2018-02-27 07:26] muhammad-naderi commented on #102
unfortunately not

[2018-03-27 21:18] delannoyk commented on #130
Hey,
I'd be happy to review a PR but that seems far off the scope of this project, sorry.

[2018-03-27 21:18] #130 closed

[2018-03-28 14:47] adelburekovic opened #131 "Audio state not updating on longer songs"
```func audioPlayer(_ audioPlayer: AudioPlayer, didChangeStateFrom from: AudioPlayerState, to state: AudioPlayerState)``` method works without issues on songs of smaller length.

For songs of the length of 15min, for instance, I don't get audio player state update after the song finishes.

Did anyone notice a similar problem?

[2018-04-11 01:40] a1259667899 opened #132 "It show some waring in Xcode9.3 and swift4.1"
like this
`'dynamic' var 'trackNumber' must also be '@objc'`

[2018-04-11 02:04] delannoyk commented on #132
@a1259667899 Just updated it on master. Please reopen the issue if it doesn't fix your problems.

[2018-04-11 02:04] #132 closed

[2018-04-11 02:05] delannoyk commented on #121
I know this is long due but I just updated the project to Xcode 9.3 (swift 4.1). It's available on master, will likely create a new release soon.

[2018-04-11 02:05] #121 closed

[2018-04-11 02:08] delannoyk commented on #131
Hi @adelburekovic

I'm using this project for mixtapes that are over 60minutes long and I don't have this issue. Would you have more context for me to reproduce/track this issue?

Cheers.

[2018-04-11 02:22] a1259667899 opened #133 "How to play start at a time ?"
How to play at a time?If it's 10 minutes ，I want it start play at 5 minute directly

[2018-04-11 02:24] delannoyk commented on #133
Please see #97 that I just closed. Please reopen or keep the discussion going on #97.

[2018-04-11 02:24] #133 closed

[2018-04-11 02:26] delannoyk commented on #113
Closing this due to inactivity. Thanks @omidgolparvar for trying to get information! Much appreciated.

[2018-04-11 02:26] #113 closed

[2018-04-11 02:28] delannoyk commented on #120
Thanks @Rusik.
I don't think this should be part of the player, mostly because some people might want to handle things differently. What do you guys think?

[2018-04-11 02:29] #117 closed

[2018-04-11 02:29] delannoyk commented on #116
@phoochaliaw What is the error that you get?

[2018-04-11 02:31] delannoyk commented on #124
Hi @chitvan832
Would you have more information? A context? The issue you're describing is a bit vague.

Example: How do you use the player? Do you have different player running at the same time? ... Any information would help here.

[2018-04-11 07:05] a1259667899 opened #134 "the player always load a long time before play"
For example , I play a audio that is 20 minutes,the player always start play after load progress for 600 seconds

[2018-04-11 10:02] Rusik commented on #120
You are already using `MPNowPlayingInfoCenter` so maybe this could be an optional feature enabled by default.

[2018-04-11 11:32] delannoyk commented on #120
The only difference is that `MPNowPlayingInfoCenter` is just displaying things provided by the developer, whereas `MPRemoteCommandCenter` also handles the actions. That’s kind of what stopped me from adding it until now.

[2018-04-12 01:40] a1259667899 opened #135 "How to know the player finished play current source"

[2018-04-12 11:35] jadsonlourenco commented on #135
* `audioPlayer(_ audioPlayer: AudioPlayer, willStartPlaying item: AudioItem)` If the player will start a new item, so, the current has finished.
* `audioPlayer.hasNext()` Indicate if has more items to play after the current source, on the queue.

[2018-04-19 06:53] nksv commented on #120
how to disable next/previous track buttons using command center with the player ?

[code]
doesn't work.

[2018-04-22 13:46] #135 closed

[2018-04-22 13:54] #124 closed

[2018-04-22 13:54] #131 closed

[2018-04-22 13:54] #116 closed

[2018-04-25 10:27] havocked commented on #132
There is still a problem, it seems that I cannot get the version 1.2 of the pod. I only fetch the 1.1.0 version (even after update repo, etc..)

[2018-04-25 11:54] jadsonlourenco commented on #132
@havocked you need use from this repo, master branch, not using version number. I think.
`pod 'KDEAudioPlayer', :git => 'https://github.com/delannoyk/AudioPlayer.git', :branch => 'master`

[2018-05-07 19:13] dimohamdy opened #137 "hasPreviousItem"
if the queue have only one item hasPreviousItem return true and the mode is normal

[2018-05-28 10:34] adelburekovic opened #139 "How to correctly stop audio player"
I have a dismissable view controller which has an instance of `AudioPlayer`. Before I dismiss the view controller I check if the song is playing and stop the audio player with the provided `stop()` method.

Everytime I do that I get an error in the log below:
`ERROR: AVAudioSession.mm:646: -[AVAudioSession setActive:withOptions:error:]: Deactivating an audio session that has running I/O. All I/O s

[2018-05-29 12:58] danielmartinprieto commented on #139
Hi, @adelburekovic. This is really interesting. Could you share some code here or a small sample project that showcase the issue?

[2018-05-29 14:03] danielmartinprieto opened #141 "Issue with MPNowPlayingInfoCenter"
Hi!

Would it be possible that the updates to the `MPNowPlayingInfoCenter` made by AudioPlayer are opt-in? I've seen [this comment](https://github.com/delannoyk/AudioPlayer/issues/120#issuecomment-380420246), but with the current implementation I think it's impossible for me to workaround a couple of issues I have in two of my apps that use this library, and I was wondering if other people could b

[2018-05-31 14:28] adelburekovic commented on #139
@danielmartinprieto hi. Thanks for your response. For testing purposes, I created a simple sample project which you can find here:
https://github.com/adelburekovic/AudioPlayerTestExample

When you run this project on a device you will see the error I mentioned in the logs while closing the modal view controller.

Thanks.

[2018-05-31 15:47] danielmartinprieto commented on #139
@adelburekovic Thanks for the sample project! I've checked it and I don't think you're doing anything wrong. After some research, I'd say that pausing the player is not a synchronous operation, so we shouldn't be deactivating the session before knowing that the player has been paused (see the response in [this thread](https://forums.developer.apple.com/thread/20435)).

A solution for this problem

[2018-06-21 21:12] dimohamdy commented on #87
any update

[2018-06-21 21:56] dimohamdy opened #142 "connection lost 100%"
I face a problem of seeking to the next item of the internet connection is 100% lost I debug it and I found **`AVPlayerItemDidPlayToEndTime`** notification get called and the `currntItem` changed although I set
`player.maximumRetryCount = 100`

@delannoyk  could you help me

[2018-06-23 05:57] dimohamdy commented on #142
I found the problem [here](https://stackoverflow.com/questions/28059147/over-slow-internet-connection-avplayer-delivers-avplayeritemdidplaytoendtimenot?rq=1)

[2018-06-28 04:56] mirzazulfan opened #144 "Propose Logo"
Hi @delannoyk .. I'm graphic disigner. I would like to know if you are interested that I make a logo for your project? If you allowed me, i"ll make logo for your project and it's free.
Best Regard

[2018-07-03 11:42] 7yon commented on #121
@delannoyk When will the support for swift 4?

[2018-07-04 04:47] 7yon opened #145 "Swift 4 support"
When will the support for swift 4?

[2018-07-18 21:09] mreil617 opened #146 "Deactivating an audio session that has running I/O"
Consistently getting the error:

[avas] AVAudioSession.mm:1177:-[AVAudioSession setActive:withOptions:error:]: Deactivating an audio session that has running I/O. All I/O should be stopped or paused prior to deactivating the audio session.

Issue only occurs on device but not on the simulator. The player is always in a stopped state when this happens. Sadly I cannot give you the code that makes th

[2018-07-20 13:21] mreil617 commented on #139
I'm seeing this same issue. It only happens on my device, not on the simulator. The worst part is that this happens when the player is in a stopped state.

[2018-07-23 13:40] adelburekovic commented on #139
The library is stopping the player incorrectly. You'll need to stop the player correctly as described in the comment above by @danielmartinprieto. Sadly I didn't have time to tackle this issue yet.

[2018-07-26 16:03] overovermind commented on #137
see #147

[2018-08-26 22:26] JacobSyndeo commented on #36
Any updates on this? Thinking it might be time for me to move my project away from [HysteriaPlayer](https://github.com/StreetVoice/HysteriaPlayer), but gapless is important to me.

[2018-09-12 14:33] rutmb commented on #145
You may use
pod 'KDEAudioPlayer', :git => 'https://github.com/delannoyk/AudioPlayer'

[2018-09-13 14:57] delannoyk commented on #144
Hey @mirzazulfan
Thanks for the offer but I don't think you need to go through the hassle of creating a logo for this project. Appreciate it

[2018-09-13 14:57] #144 closed

[2018-09-13 15:59] jadsonlourenco commented on #144
I think having a "logo" and a good presentation (read me docs) help a lot other developers.
Example: https://github.com/jadsonlourenco/react-native-shake-event

[2018-09-15 02:35] abacaj opened #149 "how do you know when audio is done playing?"
I can't seem to find out how to tell the audio is "finished".

[2018-09-15 02:40] abacaj commented on #135
This is not an answer ^

There is no way to "react" to the audio player finishing. It means we have to poll the "hasNext" function.

Why is audio player finish event not exposed?: https://developer.apple.com/documentation/avfoundation/avaudioplayerdelegate/1389160-audioplayerdidfinishplaying

[2018-09-15 02:41] abacaj commented on #135
@jadsonlourenco please see above comment

[2018-09-15 02:47] abacaj commented on #135
correct solution is posted here: https://github.com/delannoyk/AudioPlayer/issues/149

[2018-09-15 02:49] abacaj commented on #149
found solution (not a hack):

1. add a function that handles the event:
[code]

2. register a observer for listening to the finish event:
[code]

3. profit.

[2018-09-15 02:49] #149 closed

[2018-10-13 10:46] pimms opened #151 "Support for live-display MPNowPlayingInfoCenter"
`AudioItem` currently has no attribute related to being live, so `MPNowPlayingInfoCenter` is unable to show the current played stream as such.

Suggested solution:
1. Add a `live: Bool?` attribute to the `AudioItem`-class
2. If defined, assign `MPNowPlayingInfoPropertyIsLiveStream` in `MPNowPlayingInfoCenter#ap_update`

[2018-11-02 16:14] Legonaftik commented on #146
Isn't it a duplicate of this open issue: https://github.com/delannoyk/AudioPlayer/issues/139?

[2018-11-14 08:59] HuChengzhen commented on #107
This bug still exists. I want to know how to fast fix this.

[2018-11-14 09:03] HuChengzhen opened #153 "Repeat doest't work."
Repeat only the next item. Not this item.

[2018-12-19 14:52] Yusufkhujaev opened #159 "Swift 4.2 support"
Hi! First of all, it's great player! But it is not working in swift 4.2 version. Can you update it?

[2018-12-29 18:00] wilbyang opened #160 "How to retrieve the player reference when implementing the Control Center / Lockscreen in AppDelegate?"
How to retrieve the player reference when implementing the Control Center / Lockscreen in AppDelegate?

[2019-01-06 00:07] abacaj opened #161 "How to handle http errors?"
How to handle http errors?

For example a response with 403, the error is not exposed properly.

[2019-01-07 07:58] EternalBlack commented on #139
I just ran into that issue too (unfortunately in a production environment as I wasn't expecting something like this to happen).
Works pretty fine in simulator but keeps stopping playback on a real device. Is there a fix available currently? Otherwise I unfortunately need to switch over to another framework for now as I can't risk this happening on the live system. :/

[2019-01-07 11:13] mreil617 commented on #139
I wasn't able to fix the issue. You have two options though. Make a pull
request other tear it out. I personally recommend using first party libs.
Apple's audio players are great

On Mon, Jan 7, 2019, 2:58 AM Markus Black <notifications@github.com wrote:

[2019-01-07 11:46] EternalBlack commented on #139
@mreil617 Thank you for the information.

I actually managed to work around it. In my case I had two instances of the AudioPlayer (one for music playback and one for UI loading playback. As `AVAduioSession` is usually shared, they probably interfered with each other. Deleting the UI player solved the issue (playback is back to normal again). I currently just use a simple AVAudioPlayer for UI playb

[2019-01-07 23:20] danielmartinprieto commented on #160
Hi, @wilbyang.

You have several options, although none of them are strictly related to the `AudioPlayer` class, but the way you architecture your application. You could:
- Create the instance of the AudioPlayer class within the AppDelegate, so you can have a reference to it and use it when implementing the methods you need. Then you need to pass that instance to the rest of your program via depen

[2019-01-21 20:58] AdamLee321 opened #162 "player.playImmediately(atRate: 1.0)"
I am trying to get the audioPlayer to play a track from a server almost instantly, and I know that swifts AvPlayer has a function player.playImmediately(atRate: 1.0), just wondering if it is possible to access a function like this using this library?

[2019-03-13 09:15] vjoomens commented on #159
I agree with @Yusufkhujaev! Great player, please update to swift 4.2.

[2019-04-29 13:56] ahsanaasim opened #165 "percentageRead is always zero for streaming audios"
In my code, delegate method always returns percentageRead to be 0.
For local files it works perfectly. But when streaming i am facing the issue... One thing i noticed, didFindDuration is not getting called.

**This is my code**

[code]

**Output**

![Screenshot 2019-04-29 at 7 51 58 PM](https://user-images.githubusercontent.com/17532073/56900723-52f7a980-6ab8-11e9-9964-777819bde42c.png)

for some

[2019-05-08 11:27] meshileya commented on #139
@adelburekovic , i tried listening to the state as well using this

if player.timeControlStatus == .paused{
            do{
                try self.session!.setActive(false, options: .notifyOthersOnDeactivation)

            }catch let error {
                print("ERROR==> \(error.localizedDescription)")
            }
        }

but still getting the error, is there anything i could have been d

[2019-05-28 06:09] Asha-Pris opened #166 "Live stream url (AudiItem) Track change"
How to identify track change in on audio item (radio live stream url).

I got track information when metadata is available but when metadata not available than how to identify song is changed?

[2019-05-30 06:46] parthjdabhi opened #167 "issue with playing"
An error occurred at random time when the player starts playing audio (i often founds using live audio URL). This occurs only when Third-party audio is playing using their audio player and when it stops I start playing my audio. I am playing triton ads audio file URL using AVPlayer before my audio starts playing and often I found AudioPlayerError.foundationError.

When ads playing did finished i d

[2019-05-30 06:50] parthjdabhi commented on #167
I am posting more logs if this could be easy to indicate an issue

<MowAudioPlayer.swift> audioPlayer(_:shouldStartPlaying:) [#1625]| nil

<MowAudioPlayer.swift> audioPlayer(_:didChangeStateFrom:to:) [#1701]| Optional("from : stopped to : buffering")

<MowAudioPlayer.swift> audioPlayer(_:willStartPlaying:) [#1621]| nil

2019-05-30 12:03:39.351617+0530 MowPlayerApp[3941:68136] TIC Read Status [27:0

[2019-06-21 03:31] andyboyd opened #168 "Cocoapods releases out of date"
The latest cocoapods version seems to be 1.1, which is really out of date. This library has been updated considerably since then, so are there any plans to update the releases so that we can point at a version instead of a commit?

[2019-07-05 16:03] quyendang opened #169 "Low Audio Speed in Background"
player.play(items: [item1, item2, item3])

In Active state, when i call player.next() or player.priveuos()
In Background state, when i touch next or back in control center. player play audio with very low speed

[2019-07-16 04:16] afzal-hossain-ovi opened #170 "Repeat doesn't work properly"

[2019-07-18 16:19] mtorcutt commented on #169
I have the same issue.

[2019-07-22 10:03] x3mall1986 commented on #169
I've the Same problem

Did you find any solution?

[2019-07-23 21:10] mtorcutt commented on #169
The only way I can reproduce this is issue is skipping forward or backward (holding down on next or previous) in the lock screen. I've removed the feature for now.

[2019-07-28 03:12] Smiacter commented on #168
mark

[2019-07-30 01:01] qky1412 commented on #103
I met same problem when it comes to 2 items in queue, is there a work around?

[2019-07-30 05:46] HirenHRathod opened #171 "facing lots of errors while installing pods"
when can you update code for swift 4.0?

[2019-08-02 06:43] qky1412 commented on #169
I met the same issue here, when it comes to lock screen or control center, press next or previous button will make the player's rate below 1.0

[2019-08-02 09:54] quyendang commented on #169
When you pressed next or back in control center (background state), Player rate will change from 1.0 to 0.5.
You can fix it by change default multiplyRate from 2 to 1 in "AudioPlayer.swift" line 281
Before change:
` public var seekingBehavior = SeekingBehavior.multiplyRate(2) {
        didSet {
            if case .changeTime(let timerInterval, _) = seekingBehavior {
                seekEventProdu

[2019-08-06 08:07] qky1412 commented on #153
same here

[2019-08-09 06:44] dhanrajdd opened #172 "Repeat and Shuffle not working"
I have integrate this library in my project and tried to make song shuffle and repeat mode but isn't working

[2019-09-03 01:51] ynpl commented on #171
I also encountered a lot of problems.

[2019-09-19 12:49] ahmedraad commented on #153
same here

[2019-09-23 07:59] ahmedraad commented on #170
same here

[2019-11-07 15:21] zsaraf commented on #87
any update?

[2019-12-06 16:58] Amirhasanioox opened #173 "Update"
Hello, It is a great library but there are some bugs that we will become glad if you fix them.
thanks 🙏

[2020-01-13 02:24] anthonycastelli opened #174 "SPM Support"
Can we get SPM support for this? I've switched all my projects away from Carthage and Coaoapods

[2020-03-14 04:03] qky1412 opened #175 "When playing flac file, the percentage will exceed 100"
the duration is correct, but it continues play over 100%.

[2020-03-14 22:26] delannoyk commented on #175
Would you have a Flac file to share?

[2020-03-15 00:37] delannoyk commented on #174
Hey @anthonycastelli,

Thanks for reporting this. It's still a WIP, but `develop` should support SPM 😇 Let me know if you run into any issues.

[2020-03-15 00:38] delannoyk commented on #173
Hey @Amirhasanioox,

Thanks for the support. Please file an issue per bug that you find and I'll start fixing them. I'm also opened to pull requests 😇

[2020-03-15 00:38] #173 closed

[2020-03-15 03:57] qky1412 commented on #175
the url is 'https://media.musicbible.com/dev/audio/20191126175643589770.flac'

[2020-03-17 19:53] #145 closed

[2020-03-17 19:54] #159 closed

[2020-03-17 19:55] #67 closed

[2020-03-17 19:57] #160 closed

[2020-04-11 05:57] qky1412 commented on #175
Sorry for the outdated url, here is another one:
'https://media.musicbible.com/production/audio/20190802142723318073.flac'

[2020-04-11 06:12] qky1412 commented on #175
Sorry for silly mistake I made by myself, close it.

[2020-04-22 05:13] terryworona opened #176 "Carthage error: SWIFT_VERSION '3.0' is unsupported"
Library looks great.

Getting a Carthage error though.

Cartfile:
[code]

Update:
[code]

*** ARCHIVE FAILED ***

<img width="1140" alt="Screen Shot 2020-04-21 at 10 12 59 PM" src="https://user-images.githubusercontent.com/358709/79943262-4d0f7c80-841d-11ea-9806-e64b54a6bcd8.png">

Any help would be appreciated. Thanks!

[2020-04-22 05:14] terryworona commented on #176
I searched the project for `SWIFT_VERSION` but I couldn't find any evidence of `3.0` in any files.

[2020-04-22 12:33] delannoyk commented on #176
Hey @terryworona.

You'll need to explicitly target master in your `Cartfile`: `github "delannoyk/AudioPlayer" "master"`.
I'm working on fixing a few of the issues that were reported and adding more tests but to be honest I'm a bit slow right now, but I'll do a release after that.

Hope that helps, let me know 🙂

[2020-04-23 02:13] terryworona commented on #176
Awesome -- works now.

I thought if you don't specify a branch in your `Cartfile` it will use the default branch associated with the Github repo -- is your default not `master`?

Anywho, thanks for the help.

I forked your repo and added a (crude) fade in/out [feature](https://github.com/terryworona/AudioPlayer/commit/1b6a7e012b02d0a42c089dfd3b8409bc18457fea).

[2020-04-23 12:38] delannoyk commented on #176
@terryworona by default Carthage picks up the latest release, not a branch

[2020-04-23 12:38] #176 closed

[2020-06-24 06:34] at-hainguyen3 opened #177 "How to pin ssl certificate when play audio?"
I see this issue when i want to pin ssl certificate to play audio? Could i can do it?

[2020-06-26 03:58] vuongdangvu opened #178 "High memory when change other playItem"
When i change other playItem memory up how to optimal memory when play audio

[2020-07-16 06:53] qky1412 commented on #175
But when I drag the progress and apply seek function to a flac audio, the didUpdateProgressionTo callback will exceed the total duration and the percentage will over 100

[2020-08-19 12:22] #151 closed

[2020-09-01 07:46] vaibhav7a opened #180 "Player get stop"
Player get stop automatically, when I play any track.

[2020-10-20 14:27] euroboy commented on #168
Indeed, same question.

[2020-12-02 13:16] BruceZhang2017 opened #182 "How cache Music file into app?"
When play the remote music using the url, and how to cache it?

[2020-12-02 13:30] delannoyk commented on #182
This feature is unfortunately not available (yet?). I had a stab at it a couple of years ago but never finished it properly. There should be a branch available and I'm happy to review a potential PR if you feel like working on it.

[2021-01-06 21:33] VectorPerkins opened #183 "Failed to play"
audioplayer.abstractaudioplayer.AudioPlayerError: Failed to play

[2021-03-04 14:43] zyvv commented on #103
when it comes to one item in queue, hasPrevious is wrong

[2021-03-04 14:58] delannoyk commented on #103
Reopened the issue. I'm happy to review a PR if anyone is down to contribute otherwise I'll try to fix it soon.

[2021-03-05 02:51] zyvv commented on #103
[code]
maybe should this.

[2021-06-29 01:34] zinwalin opened #184 "any way to set volume and mute/unmute?"
these features are quite commonly used in normal audio player.  thanks.

[2021-06-29 13:12] delannoyk commented on #184
https://github.com/delannoyk/AudioPlayer/blob/master/AudioPlayer/AudioPlayer/player/AudioPlayer.swift#L206

This property is available.

[2021-06-30 16:24] #184 closed

[2021-12-04 08:19] lsamaria commented on #139
This is how I did it. Read the 9 steps in the commented out code.

[code]

[2021-12-16 07:47] rastaman111 opened #185 "Turn on after stop"
After playing the last audio, the player goes into Stopped mode and does not turn on anymore.  for example, reached the last audio and after the end the last audio will automatically skip to the beginning and if you need to start it again.

How can i do this?

[2022-01-10 10:03] maulik3107 opened #186 "Background app 30 sec after that music not playing always player state show paused."
2022-01-06 16:30:54.820658+0530 Wadio[99077:11171869] [BackgroundTask] Background Task 128 ("Called by KDEAudioPlayer, from $sSo13UIApplicationC19beginBackgroundTask17expirationHandlerSo012UIBackgroundD10IdentifierayycSg_tFTO"), was created over 30 seconds ago. In applications running in the background, this creates a risk of termination. Remember to call UIApplication.endBackgroundTask(_:) for yo

[2022-01-11 07:33] maulik3107 commented on #186
Hello any one have solution please help me,

i have use KDEAudioPlayer it's working good but when app is in Background mode & i play youtube video above 30 sec after that music not play in my app. i need to launch app again.

[2022-01-20 09:12] zinwalin opened #187 "Does it support loop a single audio?"
thanks.

[2022-10-09 00:33] eddieespinal commented on #186
I'm having the same problem with this with iOS 15 or 16. Easy to replicate. Just pause the music from your app, background the app, then set a timer for x seconds, and after the timer ends. return to the app and the app won't work properly using this Library.  Any help will be appreciated!

[2022-10-10 04:11] maulik3107 commented on #186
@eddieespinal
When our app state background to foreground than set again all song data.

U can try this library to solved issue.

https://github.com/dimitris-c/AudioStreaming

[2022-10-10 18:26] eddieespinal commented on #186
@maulik3107 That library won't work as it doesn't support .m3u8 files. I do like that it supports EQ.  Do you have any solution to the current issue with the AudioPlayer background issue?

[2022-10-11 03:45] maulik3107 commented on #186
Can u please send  demo so i can check that and solved that issue